<b>SACI | Sistema de Atención para Correos Institucionales</b><br />
ℹ POR FAVOR NO RESPONDER A ESTE MENSAJE<br /><br />

<h1>✅ Solicitud atendida por Mesa de control</h1>

Estimad@@:<br />
<b>@usuario.UsuNombre @usuario.UsuPrimerApellido @usuario.UsuSegundoApellido*</b>

<br />
<br />

Por medio del presente nos permitimos informarle que su<br />
solicitud con No. de Ticket <b>#@solicitud.IdSolicitudTicket</b>,<br />
ha sido atendida por Mesa de Control con la siguiente observación:

<br />
<br />

<blockquote>@solicitud.SolRespuestaDcyC</blockquote>

<br />
<br />

<b>
    Le recordamos que para poder visualizar sus DATOS DEL CORREO INSTITUCIONAL,
    darle seguimiento a la solicitud y pueda levantar una nueva solcitud
    favor de responder una encuesta de calidad en la plataforma SACI: www.saci.upiicsa.ipn.mx
    (@solicitud.SolToken).
</b>

<br />
<br />

Para poder acceder al servicio deberá dirigirse a: https://outlook.com/correo.ipn.mx<br />
Otra manera de ingresar es ir a la página de la UPIICSA y en el apartado de "Correo electrónico"
que se encuentra en la parte superior derecha. Seleccionar la opción "Correo 365"<br /><br />

Puedes cambiar tu contraseña después de 48 horas de haber recibido su buzón de correo,
(si Ud. Intenta cambiar la contraseña antes de las 48 hrs. el sistema no se lo permitirá),
por lo que, es necesario seguir las instrucciones del procedimiento alojado en la siguiente URL:
https://www.ipn.mx/assets/files/dcyc/docs/computo/guia-tecnica-correo.pdf

<br />
<br />

Sin más por el momento le deseamos un excelente día<br />
NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.

@code
{
    [Parameter] public MtTbSolicitudesTicket solicitud { get; set; } = new() { SolIdUsuarioNavigation = new() };
    MpTbUsuario usuario { get { return solicitud.SolIdUsuarioNavigation; } }
}
