<b>SACI | Sistema de Atención para Correos Institucionales</b><br />
ℹ POR FAVOR NO RESPONDER A ESTE MENSAJE<br /><br />

<h1>✅ Solicitud Atendida por Mesa de control</h1><br />

Estimad@@:<br />
<b>@usuario.UsuNombre @usuario.UsuPrimerApellido @usuario.UsuSegundoApellido</b>

<br /><br />

Por medio del presente nos permitimos informarle que su<br />
solicitud con No. de Ticket <b>#@solicitud.IdSolicitudTicket</b>,<br />
ha sido atendida con éxito con la siguiente observación de la Mesa de Control:

<br /><br />

<blockquote>@solicitud.SolRespuestaDcyC</blockquote>

<br />

<b>
    Le recordamos que para poder visualizar sus DATOS DEL CORREO INSTITUCIONAL,<br />
    darle seguimiento a la solicitud y pueda realizar una nueva solicitud<br />
    favor de responder una encuesta de satisfacción en la plataforma SACI:<br />
    www.saci.upiicsa.ipn.mx (@solicitud.SolToken).
</b>

<br /><br />

Para poder acceder al servicio deberá dirigirse a: https://outlook.com/correo.ipn.mx<br />
Otra manera de ingresar es ir a la página de la UPIICSA y en el apartado de "Correo electrónico"
que se encuentra en la parte superior derecha. Seleccionar la opción "Alumno y Egresados".

<br /><br />

Puedes cambiar tu contraseña después de 48 horas de haber recibido su buzón de correo,
(si Ud. Intenta cambiar la contraseña antes de las 48 hrs. el sistema no se lo permitirá),
por lo que, es necesario seguir las instrucciones del procedimiento alojado en la siguiente URL:
https://www.ipn.mx/assets/files/dcyc/docs/computo/guia-tecnica-correo.pdf

<br /><br />

Sin más por el momento le deseamos un excelente día.<br />
NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.

@code
{
    [Parameter] public MtTbSolicitudesTicket solicitud { get; set; } = new() { SolIdUsuarioNavigation = new() };
    MpTbUsuario usuario { get { return solicitud.SolIdUsuarioNavigation; } }
}
