@page "/catalogo/anuncios"

@attribute [Authorize(Policy = "[Rol] Ambos")]

@inject DialogService DialogService
@inject RAnuncioService servicioAnuncio;

<PageTitle>@Title</PageTitle>

<div class="p-4 rounded-1 bg-white shadow">
    <h1>@Title</h1>

    @if (cargado)
    {
        <div class="row my-3">
            <div class="offset-10 col-2">
                <button type="button" class="btn btn-primary form-control" @onclick="Agregar">
                    Agregar...
                </button>
            </div>
        </div>
    }
    else
    {
        <div class="row my-4">
            <div class="col text-center">
                <img src="logo_saci.png" class="loading_img" />
                <br />
                Cargando...
            </div>
        </div>
    }

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@items" TItem="RequestViewModel_Anuncio" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    Visible=@cargado
                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedItems>
        <Columns>
            <RadzenDataGridColumn TItem="RequestViewModel_Anuncio" Property="IdTipoPersonal" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_Anuncio" Frozen="false" Title="Solicitante" Filterable="false" TextAlign="TextAlign.Start">
                <Template Context="item">
                    @if (item.AnuStatus)
                    {
                        <text>
                            @item.AnuArchivo
                            @item.AnuDescripcion
                        </text>
                    }
                    else
                    {
                        <del>
                            @item.AnuArchivo
                            @item.AnuDescripcion
                        </del>
                    }
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RequestViewModel_Anuncio" Property="TipoperDescripcion" Filterable="false" Title="ID" TextAlign="TextAlign.Start" />

            <RadzenDataGridColumn TItem="RequestViewModel_Anuncio" Context="item"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="false"
                                  Visible=@puede_editar>
                <Template Context="item">
                    <RadzenButton title="Editar..."
                                  Icon="edit"
                                  ButtonStyle="ButtonStyle.Info"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Click="@(async ()=> await Editar(item))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Deshabilitar"
                                  Icon="delete"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.AnuStatus.Equals(true)"
                                  Click="@(async ()=> await CambiarStatus(item, false))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Habilitar"
                                  ButtonStyle="ButtonStyle.Success"
                                  Icon="autorenew"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.AnuStatus.Equals(false)"
                                  Click="@(async ()=> await CambiarStatus(item, true))" @onclick:stopPropagation="true">
                    </RadzenButton>

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

@code
{
    private string Title = "Anuncios";
    private bool cargado { get; set; } = false;
    string debug = string.Empty;

    private bool puede_editar { get; set; } = true;
    private bool puede_agregar { get; set; } = true;

    private List<RequestViewModel_Anuncio> items = new List<RequestViewModel_Anuncio>();
    private IList<RequestViewModel_Anuncio> selectedItems = new List<RequestViewModel_Anuncio>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListByStatusAsync(servicioAnuncio, false);
            cargado = true;
            StateHasChanged();
        }
    }

    private async Task CargarLista(int? selecccionar_id = null)
    {
        items = await WebUtils.ListByStatusAsync(servicioAnuncio, false);

        if (selecccionar_id is not null)
        {
            selectedItems = items.Where(i => (i.IdAnuncio == selecccionar_id)).ToList();
        }
    }

    private async Task<DocumentoAdjunto<RequestViewModel_Anuncio>?> MostrarFormulario(RequestViewModel_Anuncio registro, string titulo_ventana)
    {

        return await DialogService.OpenAsync<AnuncioEditor>
                (
                    titulo_ventana,
                    new Dictionary<string, object>()
                                            {
                        {"registro", registro}
                                            },
                    new DialogOptions()
                        {
                            ShowClose = false,
                            Width = "50%",
                            CssClass = "dialog_simple"
                        }
                );
    }

    private void MensajeCarga()
    {
        DialogService.OpenAsync<Carga>(
                "Cargando...",
                new Dictionary<string, object>(),
                new DialogOptions() { ShowClose = false, Width = "64px" }
            );
    }

    private async Task Agregar()
    {
        RequestViewModel_Anuncio registro = TemplateEntity.CreateAnuncio();

        DocumentoAdjunto<RequestViewModel_Anuncio>? result = await MostrarFormulario(registro, "Agregar Anuncio");

        List<string> mensajes = new List<string>();
        string? error = null;

        if (result is not null)
        {
            MensajeCarga();

            HttpResponseMessage response = await servicioAnuncio.AddDataAsync(registro);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(result.Value.IdAnuncio);
                
                foreach (KeyValuePair<TipoDocumento, IBrowserFile?> documento in result.Files)
                {
                    if (documento.Value is null) continue;

                    error = await servicioArchivos.SubirDocumento(documento.Key, documento.Value);

                    if (error is not null)
                    {
                        mensajes.Add(error);
                    }
                }

                await CargarLista(result.Value.IdAnuncio);

                debug += Environment.NewLine + string.Join(Environment.NewLine, mensajes);
            }

            DialogService.Close();
        }
    }// AGREGAR

    private async Task Editar(RequestViewModel_Anuncio item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_Anuncio? registro = JsonSerializer.Deserialize<RequestViewModel_Anuncio>(json);

        if (registro is not null)
        {
            DocumentoAdjunto<RequestViewModel_Anuncio>? result = await MostrarFormulario(registro, "Editar Anuncio");

            if (result is not null)
            {
                HttpResponseMessage response = await servicioAnuncio.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    await CargarLista(item.IdAnuncio);
                }
            }
        }
    }//EDITAR

    private async Task CambiarStatus(RequestViewModel_Anuncio item, bool status)
    {
        string des = status ? "" : "des";

        bool result = await DialogService.OpenAsync<ConfirmarDlg>
            (
                "Confirmar",
                new Dictionary<string, object>()
                                                {
                    {"mensaje" , $"¿Desea {des}habilitar el registro de {item.AnuDescripcion}?" }
                                                },
                new DialogOptions() { ShowClose = false }
            );

        if (result)
        {
            HttpResponseMessage response = await servicioAnuncio.EnableDisableDataByIdAsync(item.IdAnuncio, status);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(item.IdAnuncio);
            }
        }
    }//CAMBIAR STATUS
}
