@page "/catalogo/tipos_personal"

@attribute [Authorize(Policy = "[Rol] Ambos")]

@inject DialogService DialogService

<PageTitle>@Title</PageTitle>

    <div class="p-4 rounded-1 bg-white shadow">
        <h1>@Title</h1>

    @if (cargado)
    {
        <div class="row my-3">
            <div class="offset-10 col-2">
                <button type="button" class="btn btn-primary form-control" @onclick="Agregar">
                    Agregar...
                </button>
            </div>
        </div>
    }
    else
    {
        <div class="row my-4">
            <div class="col text-center">
                <img src="logo_saci.png" class="loading_img" />
                <br />
                Cargando...
            </div>
        </div>
    }

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@items" TItem="RequestViewModel_TipoPersonal" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    Visible=@cargado
                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedItems>
        <Columns>
            <RadzenDataGridColumn TItem="RequestViewModel_TipoPersonal" Property="IdTipoPersonal" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_TipoPersonal" Frozen="false" Title="Solicitante" Filterable="false" TextAlign="TextAlign.Start">
                <Template Context="item">
                    @if (item.TipoperStatus)
                    {
                        <text>
                            @item.TipoperNombre
                            @item.TipoperDescripcion
                        </text>
                    }
                    else
                    {
                        <del>
                            @item.TipoperNombre
                        </del>
                    }
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RequestViewModel_TipoPersonal" Property="TipoperDescripcion" Filterable="false" Title="ID" TextAlign="TextAlign.Start" />

            <RadzenDataGridColumn TItem="RequestViewModel_TipoPersonal" Context="item"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="false" 
                                  Visible=@puede_editar>
                <Template Context="item">
                    <RadzenButton title="Editar..."
                                  Icon="edit"
                                  ButtonStyle="ButtonStyle.Info"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Click="@(async ()=> await Editar(item))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Deshabilitar"
                                  Icon="delete"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.TipoperStatus.Equals(true)"
                                  Click="@(async ()=> await CambiarStatus(item, false))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Habilitar"
                                  ButtonStyle="ButtonStyle.Success"
                                  Icon="autorenew"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.TipoperStatus.Equals(false)"
                                  Click="@(async ()=> await CambiarStatus(item, true))" @onclick:stopPropagation="true">
                    </RadzenButton>

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

@code
{
    private string Title = "Catálogo de Tipos de Personal";
    private bool cargado { get; set; } = false;

    private bool puede_editar { get; set; } = false;
    private bool puede_agregar { get; set; } = false;

    private List<RequestViewModel_TipoPersonal> items = new List<RequestViewModel_TipoPersonal>();
    private IList<RequestViewModel_TipoPersonal> selectedItems = new List<RequestViewModel_TipoPersonal>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListByStatusAsync(servicioTipoPersonal, false);
            cargado = true;
            StateHasChanged();
        }
    }

    private async Task CargarLista(int? selecccionar_id = null)
    {
        items = await WebUtils.ListByStatusAsync(servicioTipoPersonal, false);

        if (selecccionar_id is not null)
        {
            selectedItems = items.Where(i => (i.IdTipoPersonal == selecccionar_id)).ToList();
        }
    }

    private async Task<RequestViewModel_TipoPersonal?> MostrarFormulario(RequestViewModel_TipoPersonal registro)
    {
        return await DialogService.OpenAsync<TipoPersonalEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>()
                    {
                        {"registro", registro}
                    },
                    new DialogOptions()
                    {
                        ShowClose = false,
                        Width = "50%",
                        CssClass = "dialog_simple"
                    }
                );
    }

    private void MensajeCarga()
    {
        DialogService.OpenAsync<Carga>(
                "Cargando...",
                new Dictionary<string, object>(),
                new DialogOptions() { ShowClose = false, Width = "64px" }
            );
    }

    private async Task Agregar()
    {
        RequestViewModel_TipoPersonal registro = new();

        RequestViewModel_TipoPersonal? result = await MostrarFormulario(registro);

        if (result is not null)
        {
            MensajeCarga();

            HttpResponseMessage response = await servicioTipoPersonal.AddDataAsync(registro);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(result.IdTipoPersonal);
            }

            DialogService.Close();
        }
    }// AGREGAR

    private async Task Editar(RequestViewModel_TipoPersonal item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_TipoPersonal? registro = JsonSerializer.Deserialize<RequestViewModel_TipoPersonal>(json);

        if (registro is not null)
        {
            RequestViewModel_TipoPersonal? result = await MostrarFormulario(registro);

            if (result is not null)
            {
                HttpResponseMessage response = await servicioTipoPersonal.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    await CargarLista(item.IdTipoPersonal);
                }
            }
        }
    }//EDITAR

    private async Task CambiarStatus(RequestViewModel_TipoPersonal item, bool status)
    {
        string des = status ? "" : "des";

        bool result = await DialogService.OpenAsync<ConfirmarDlg>
            (
                "Confirmar",
                new Dictionary<string, object>()
                {
                    { "mensaje" , $"¿Desea {des}habilitar el registro de {item.TipoperNombre}?" }
                },
                new DialogOptions() { ShowClose = false }
            );

        if (result)
        {
            HttpResponseMessage response = await servicioUsuario.EnableDisableDataByIdAsync(item.IdTipoPersonal, status);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(item.IdTipoPersonal);
            }
        }
    }//CAMBIAR STATUS
}
