@using System.Text.Json
@using System.Text.Json.Serialization

@using System.Text.Json.Serialization.Metadata


@inject Radzen.DialogService dialogService

@if(editable)
{
    <EditForm @ref=editor Model=@registro OnValidSubmit=@OnFormValid>
        <div class="alert alert-info">
            Los campos marcados con <strong class="red" title="requerido">*</strong> son <strong>requeridos</strong>.
        </div>
        <DataAnnotationsValidator/>
        <!--<ValidationSummary />-->

        <h1>Datos Personales</h1>

        <h1>Datos de contacto</h1>
        

        <div class="row"><!--ROW-->

            <div class="col-6 mb-2">
                <span class="fw-bold">IdUsuario</span>
                <InputNumber @bind-Value="@registro.IdUsuario" class="form-control" />
                <ValidationMessage For="()=>registro.IdUsuario"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuIdRol</span>
                <InputNumber @bind-Value="@registro.UsuIdRol" class="form-control" />
                <ValidationMessage For="()=>registro.UsuIdRol"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuIdTipoPersonal</span>
                <InputNumber @bind-Value="@registro.UsuIdTipoPersonal" class="form-control" />
                <ValidationMessage For="()=>registro.UsuIdTipoPersonal"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuNombre<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNombre" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuNombre"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuPrimerApellido<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuPrimerApellido" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuPrimerApellido"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuSegundoApellido</span>
                <InputText @bind-Value="@registro.UsuSegundoApellido" class="form-control" />
                <ValidationMessage For="()=>registro.UsuSegundoApellido"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuCurp<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCurp" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuCurp"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuFileNameCurp<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuFileNameCurp" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuFileNameCurp"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuFileSizeCurp</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuNoCelularAnterior</span>
                <InputText @bind-Value="@registro.UsuNoCelularAnterior" class="form-control" />
                <ValidationMessage For="()=>registro.UsuNoCelularAnterior"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuNoCelularNuevo<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNoCelularNuevo" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuNoCelularNuevo"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuBoletaAlumno<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuBoletaAlumno" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuBoletaAlumno"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuBoletaMaestria<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuBoletaMaestria" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuBoletaMaestria"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuIdCarrera</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuSemestre<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuSemestre" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuSemestre"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuAñoEgreso<strong class="red" title="requerido">*</strong></span>
                <InputNumber @bind-Value="@registro.UsuAñoEgreso" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuAñoEgreso"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuFileNameComprobanteInscripcion<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuFileNameComprobanteInscripcion" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuFileNameComprobanteInscripcion"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuFileSizeComprobanteInscripcion</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuNumeroEmpleado<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNumeroEmpleado" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuNumeroEmpleado"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuIdAreaDepto</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuNoExtension<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNoExtension" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuNoExtension"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuCorreoPersonalCuentaAnterior</span>
                <InputText @bind-Value="@registro.UsuCorreoPersonalCuentaAnterior" class="form-control" />
                <ValidationMessage For="()=>registro.UsuCorreoPersonalCuentaAnterior"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuCorreoPersonalCuentaNueva<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCorreoPersonalCuentaNueva" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuCorreoPersonalCuentaNueva"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuContraseña<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuContraseña" class="form-control required" />
                <ValidationMessage For="()=>registro.UsuContraseña"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuRecuperarContraseña</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuCorreoInstitucionalCuenta</span>
                <InputText @bind-Value="@registro.UsuCorreoInstitucionalCuenta" class="form-control" />
                <ValidationMessage For="()=>registro.UsuCorreoInstitucionalCuenta"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuCorreoInstitucionalContraseña</span>
                <InputText @bind-Value="@registro.UsuCorreoInstitucionalContraseña" class="form-control" />
                <ValidationMessage For="()=>registro.UsuCorreoInstitucionalContraseña"></ValidationMessage>
            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuFechaHoraAlta</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuStatus</span>
                -NULLABLE-

            </div>

            <div class="col-6 mb-2">
                <span class="fw-bold">UsuIdAreaDepto</span>
                <InputSelect @bind-Value="@registro.UsuIdAreaDepto" class="form-control">@foreach (var item in cat_UsuIdAreaDepto)
                    {
                        <option value="@item.IdAreaDepto">@item.AreNombreAreaDepto</option>
                    }</InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdAreaDepto"></ValidationMessage>
                </div>

                <div class="col-6 mb-2">
                    <span class="fw-bold">UsuIdCarrera</span>
                    <InputSelect @bind-Value="@registro.UsuIdCarrera" class="form-control">@foreach (var item in cat_UsuIdCarrera)
                    {
                        <option value="@item.IdCarrera">@item.CarrNombre</option>
                    }</InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdCarrera"></ValidationMessage>
                </div>

                <div class="col-6 mb-2">
                    <span class="fw-bold">UsuIdRol</span>
                    <InputSelect @bind-Value="@registro.UsuIdRol" class="form-control">@foreach (var item in cat_UsuIdRol)
                    {
                        <option value="@item.IdRol">@item.RolNombre</option>
                    }</InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdRol"></ValidationMessage>
                </div>

                <div class="col-6 mb-2">
                    <span class="fw-bold">UsuIdTipoPersonal</span>
                    <InputSelect @bind-Value="@registro.UsuIdTipoPersonal" class="form-control">@foreach (var item in cat_UsuIdTipoPersonal)
                    {
                        <option value="@item.IdTipoPersonal">@item.TipoperNombre</option>
                    }</InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdTipoPersonal"></ValidationMessage>
                </div>

                


        </div><!--ROW-->



        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
    </EditForm>
}


<pre>
    @debug
</pre>

<!--
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
    <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" />
    <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Flat" Text="OK" Style="width: 120px" />
</RadzenStack>
-->
@code
{
    [Parameter] public List<RequestViewModel_AreaDepto> cat_UsuIdAreaDepto { get; set; }
    [Parameter] public List<RequestViewModel_Carrera> cat_UsuIdCarrera { get; set; }
    [Parameter] public List<RequestViewModel_Rol> cat_UsuIdRol { get; set; }
    [Parameter] public List<RequestViewModel_TipoPersonal> cat_UsuIdTipoPersonal { get; set; }

    [Parameter] public RequestDTO_Usuario usuario { get; set; } = new RequestDTO_Usuario();
    private RequestDTO_Usuario registro = new RequestDTO_Usuario();

    EditForm editor = default!;
    DataAnnotationsValidator validator = default!;

    private bool editable = false;

    private string debug = "";

    /*
    protected override async Task OnInitializedAsync()
    {

    }*/

    protected override void OnInitialized()
    {
        // CREAR UNA COPIA PARA EDITARLA
        string json = JsonSerializer.Serialize(usuario);
        RequestDTO_Usuario? tmp = JsonSerializer.Deserialize<RequestDTO_Usuario>(json);
        if(tmp is null)
        {
            debug = "NO SE PUDO CREAR UNA COPIA PARA EDITAR.";
        }
        else
        {

            registro = tmp;
            editable = true;
            
        }
    }

    private void OnSubmit()
    {
        debug += Environment.NewLine + "SUBMIT";
    }

    private void OnFormValid()
    {
        /* SI EL FORMULARIO ES VÁLIDO, SE GUARDA LA COPIA EDITADA 
         * Y SE CONSERVA EL REGISTRO ORIGINAL 
         * 
         * - SE PUEDE IMPLEMENTAR
         * UN BOTÓN DE DESHACER LOS CAMBIOS, SIEMPRE Y CUANDO NO SE
         * RECARGUE LA PÁGINA -
        */
       
        dialogService.Close(true);
    }

}
