@page "/Carreras"

@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Request;
@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Response;
@using CorreosInstitucionales.Shared.CapaServices.BusinessLogic.catCarrerasService;
@using Syncfusion.Blazor.Grids;

@inject ICarrera servicioCarrera

<h3>MCE_catCarrera</h3>

@* @if (oResponse != null && oResponse.Data !=null)
{
    foreach (var carrera in oResponse.Data)
    {
        <div>@carrera.IdCarrera</div>
        <div>@carrera.CarrClave</div>
        <div>@carrera.CarrNombre</div>
        <div>@carrera.CarrStatus</div>
    }
}
else
{
    <div>Cargando...</div>
} *@

<SfGrid DataSource="@oResponse.Data" AllowPaging="true">
    <GridColumns>
        <GridColumn Field=@nameof(CarreraViewModel.IdCarrera) HeaderText="Id Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(CarreraViewModel.CarrClave) HeaderText="Clave Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(CarreraViewModel.CarrNombre) HeaderText="Nombre Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>

    </GridColumns>
</SfGrid>

@code
{
    public Response<List<CarreraViewModel>>? oResponse = new();

    protected override async Task OnInitializedAsync()
    {
        oResponse = await servicioCarrera.GetAllDataAsync(false);
    }
}