@page "/catalogos/debug"

@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel.DataAnnotations.Schema

@inject IClipboardService clipboard;

<PageTitle>Generar UI</PageTitle>

<h3>Generar controles a partir de Catálogos</h3>

<div class="row">
    <div class="col-8">
        <InputSelect @bind-Value="@selected_index" class="form-select mb-2">
            @for (int i = 0; i < items.Count; i++)
            {
                <option value="@i">@items[i].ToString()</option>
            }
        </InputSelect>
    </div>

    <div class="col-4">
        <button class="btn btn-primary form-control" @onclick="CopyToClipboard">Copiar al portapapeles</button>
    </div>
</div>

<pre>@debug</pre>

<pre class="bg-white shadow p-4">@Render()</pre>

@code 
{
    public string debug = string.Empty;

    async Task CopyToClipboard()
    {
        await clipboard.CopyToClipboard(razor_code);

    }

    string razor_code = string.Empty;

    int selected_index = 0;
    List<UIObject> items = new List<UIObject>()
    {
        new UIObject(new RequestDTO_Usuario(),"servicioUsuario"),
        new UIObject(new RequestDTO_Solicitud(),"servicioSolicitud"),

        new UIObject(new RequestViewModel_AreaDepto(),"servicioAreaDepto"),
        new UIObject(new RequestViewModel_Carrera(),"servicioCarrera"),
        new UIObject(new RequestViewModel_Edificio(),"servicioEdificio"),
        new UIObject(new RequestViewModel_Escuela(),"servicioEscuela"),
        new UIObject(new RequestViewModel_Link(),"servicioLink"),
        new UIObject(new RequestViewModel_NoExtension(),"servicioNoExtension"),
        new UIObject(new RequestViewModel_Piso(),"servicioPiso"),

        new UIObject(new RequestViewModel_TipoPersonal(),"servicioTipoPersonal"),
        new UIObject(new RequestViewModel_TipoSolicitud(),"servicioTipoSolicitud"),

        new UIObject(new RequestViewModel_Rol(),"servicioRoles"),
        new UIObject(new RequestViewModel_EstadoSolicitud(),"servicioEstadoSolicitud")
    };

    string GetService(IEnumerable<UIObject> items, Type t)
    {
        UIObject? obj = items.Where(i => i.Value.GetType().Equals(t)).FirstOrDefault();

        if(obj is not null)
        {
            return obj.Service;
        }

        return "UNDEFINED";
    }

    public string Render()
    {
        string razor = string.Empty;
        string cs_code = string.Empty;

        UIControl control;

        UIObject item = items[selected_index];
        Type type = item.Value.GetType();

        string obj_type = type.ToString().Split('.').Last();
        string service =  item.Service;

        string cs_param_editor = string.Empty;

        string cs_param_list = string.Empty;
        string cs_load_list = string.Empty;
        string cs_param_list_modal = string.Empty;

        foreach (PropertyInfo prop in type.GetProperties())
        {
            control = new UIControl(prop, service);
            control.Build();

            razor += Environment.NewLine + control.Razor;
            
            if(control.HasForeignKey)
            {
                cs_param_editor += $"[Parameter] public List<{control.ClassName}> cat_{control.Name} {{ get; set; }}  = new List<{control.ClassName}>();{Environment.NewLine}\t";
                cs_param_list += $"public List<{control.ClassName}> cat_{control.Name} {{ get; private set; }}  = new List<{control.ClassName}>();{Environment.NewLine}\t";
                cs_load_list += $"cat_{control.Name} = await WebUtils.ListByStatusAsync({GetService(items, control.VarType)});{Environment.NewLine}\t";
                cs_param_list_modal = $"{{\"cat_{control.Name}\", cat_{control.Name}}}{Environment.NewLine}\t";
            }
        }


        cs_code = $@"
@code
{{
    //ÉSTE CÓDIGO VA EN EL COMPONENTE DEL MODAL
    [Parameter] public {obj_type} registro {{ get; set; }} = new {obj_type}();

    {cs_param_editor}    

    private void OnValidForm() => dialogService.Close(registro);
    private void OnCloseForm() => dialogService.Close(null);
}}

@code
{{
    //ÉSTE CÓDIGO VA EN LA PÁGINA DONDE SE ENCUENTRA EL LISTADO
    private List<{obj_type}> items = new List<{obj_type}>();

    {cs_param_list}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {{
        if (firstRender)
        {{
            items = await WebUtils.ListAllAsync({service});

    {cs_load_list}

            StateHasChanged();
        }}
    }}

    private async Task Editar({obj_type} item)
    {{
        string json = JsonSerializer.Serialize(item);
    {obj_type}? registro = JsonSerializer.Deserialize<{obj_type}>(json);

        if(registro is not null)
        {{
    {obj_type}? result = await DialogService.OpenAsync<ComponentEditor>
            (
                ""Actualizar Datos"",
                new Dictionary<string, object>() {{ 
                    {{""registro"", registro}},
{cs_param_list_modal}
                }},
                new DialogOptions() {{ ShowClose = false, Width = ""75%"" }}
            );
            //CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true,

            if(result is not null)
            {{
                HttpResponseMessage response = await {service}.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {{
                    items = await WebUtils.ListAllAsync({service});
                }}
            }}
        }}
    }}
}}
";
        razor_code = razor + Environment.NewLine + cs_code;
        return razor_code;
    }

    private enum ControlType: int
    {
        DISCARD = 0,
        BOOL,
        DATE,
        STRING,
        NUMBER,
        LIST
    }

    private class UIObject
    {
        public object Value { get; private set; }
        public string Service { get; private set; }

        public UIObject(object v, string s)
        {
            this.Value = v;
            this.Service = s;
        }

        public override string ToString()
        {
            return this.Value.GetType().Name;
        }
    }


    private class UIControl
    {
        public ControlType  Control     { get; private set; }
        public Type         VarType     { get; private set; }
        public string       Service     { get; private set; }
        public string       ClassName   { get; private set; }
        public string       Name        { get; private set; }
        public bool         IsNullable  { get; private set; }
        public bool         IsRequired  { get; private set; }
        public bool         IsKey       { get; private set; }

        public bool         HasRegExValidation { get; private set; }
        public bool         HasForeignKey       {get; private set; }

        public bool         RequiresValidation { 
            get { 
                return 
                    this.IsRequired || 
                    !this.IsNullable ||
                    this.HasRegExValidation; 
            } 
        }

        public string       Debug   { get; private set; }
        public string       Razor   { get; private set; }
        public string       Content { get; private set; }

        public string BuildOptionContent(Type t)
        {
            if (!t.IsClass)
            {
                return string.Empty;
            }

            PropertyInfo[] properties = t.GetProperties();
            PropertyInfo[] l_keys = properties.Where(p => p.GetCustomAttribute<KeyAttribute>() is not null).ToArray();
            PropertyInfo[] l_names = properties.Where(p => p.Name.ToLower().Contains("nombre") || p.Name.ToLower().Contains("descripcion")).ToArray();

            string id = l_keys.Length > 0 ? l_keys.First().Name : "id";
            string name = l_names.Length > 0 ? l_names.First().Name : "name";

            return $"@foreach (var item in cat_{this.Name}) {{ <option value=\"@item.{id}\">@item.{name}</option> }}"; ;
        }

        public UIControl(PropertyInfo p, string service)
        {
            Type? ttype = Nullable.GetUnderlyingType(p.PropertyType);
            ForeignKeyAttribute? fk = p.GetCustomAttribute<ForeignKeyAttribute>();

            this.Control    = ControlType.DISCARD;
            this.VarType    = ttype ?? p.PropertyType; ;
            this.Service    = service;
            this.Name       = p.Name;
            this.ClassName  = this.VarType.ToString().Split('.').Last();
            this.IsNullable = ttype is not null;
            this.IsRequired = p.GetCustomAttribute<RequiredAttribute>() is not null;
            this.IsKey      = fk is not null;

            this.HasRegExValidation = p.GetCustomAttribute<RegularExpressionAttribute>() is not null;
            this.HasForeignKey = p.GetCustomAttribute<ForeignKeyAttribute>() is not null;

            this.Debug = string.Empty;
            this.Razor = string.Empty;
            this.Content = string.Empty;

            Dictionary<Type, ControlType> mappings = new Dictionary<Type, ControlType>()
            {
                {typeof(bool)       ,ControlType.BOOL   },
                {typeof(DateTime)   ,ControlType.DATE   },
                {typeof(string)     ,ControlType.STRING },
                {typeof(Int16)      ,ControlType.NUMBER },
                {typeof(Int32)      ,ControlType.NUMBER },
                {typeof(Int64)      ,ControlType.NUMBER },
                {typeof(UInt16)     ,ControlType.NUMBER },
                {typeof(UInt32)     ,ControlType.NUMBER },
                {typeof(UInt64)     ,ControlType.NUMBER },
                {typeof(UInt128)    ,ControlType.NUMBER }
            };

            if (mappings.ContainsKey(this.VarType))
            {
                this.Control = mappings[this.VarType];
            }

            if(this.HasForeignKey)
            {
                this.Control = ControlType.LIST;
                this.Name = fk!.Name;
                this.Content = BuildOptionContent(this.VarType);
            }
        }

        public void Build()
        {
            if(this.Control == ControlType.DISCARD)
            {
                return;
            }

            string code_validation = 
                this.RequiresValidation ? 
                    $"<ValidationMessage For=\"()=>registro.{this.Name}\"></ValidationMessage>" : 
                    string.Empty;

            string tpl_content = @"<div class=""col-6 mb-2"">
    <span class=""fw-bold"">{0}{1}</span>
    {2}
    {3}
</div>"+this.Debug+Environment.NewLine;

            if(this.IsNullable)
            {
                this.Razor = string.Format(tpl_content, this.Name, string.Empty, $"<br/>@registro.{this.Name}", string.Empty);
                return;
            }

            string tag = "InputText";
            string css = string.Empty;
            string css_control = "form-control";
            string required = string.Empty;

            bool has_content = false;

            if (this.IsRequired)
            {
                required = "<strong class=\"red\" title=\"requerido\">*</strong>";
                css = "required";
            }

            switch (this.Control)
            {
                case ControlType.BOOL: tag = "InputCheckbox"; css_control = "form-check-input";  break;
                case ControlType.DATE:  tag = "InputDate";      break;
                case ControlType.NUMBER:tag = "InputNumber";    break;
                case ControlType.LIST: tag = "InputSelect"; css_control = "form-select"; has_content = true; break;
            }

            string code_input = $"<{tag} @bind-Value=\"@registro.{this.Name}\" class=\" {css} {css_control}\"" + (has_content ? $">{this.Content}</{tag}>" : "/>");
            this.Razor = string.Format(tpl_content, this.Name, required, code_input, code_validation);
        }
    }
}
