@page "/catalogo/extensiones"

@attribute [Authorize(Policy = "[Rol] Ambos")]

@inject DialogService DialogService

<PageTitle>@Title</PageTitle>

    <div class="p-4 rounded-1 bg-white shadow">
        <h1>@Title</h1>

    <div class="row my-3">
        @if (cargado && puede_agregar)
        {

            <div class="offset-10 col-2">
                <button type="button" class="btn btn-primary form-control" @onclick="Agregar">
                    Agregar...
                </button>
            </div>
        }

        @if ((!cargado))
        {
            <div class="col text-center">
                <img src="logo_saci.png" class="loading_img" />
                <br />
                Cargando...
            </div>

        }
    </div>

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@items" TItem="RequestViewModel_NoExtension" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedItems
                    Visible=@cargado>
        <Columns>
            <RadzenDataGridColumn TItem="RequestViewModel_NoExtension" Property="IdExtension" Title="ID" Filterable="false" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_NoExtension" Property="ExtNoExtension" Title="Clave" Filterable="false" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_NoExtension" Title="Área" Filterable="false" TextAlign="TextAlign.Start">
                <Template Context="item">
                    @if (item.ExtStatus)
                    {
                        <text>
                            @item.ExtIdAreaDeptoNavigation!.AreNombreAreaDepto
                        </text>
                    }
                    else
                    {
                        <del>
                            @item.ExtIdAreaDeptoNavigation!.AreNombreAreaDepto
                        </del>
                    }
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RequestViewModel_NoExtension" Context="item"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="false"
                                  Visible=@puede_editar>

                <Template Context="item">
                    <RadzenButton title="Editar..."
                                  Icon="edit"
                                  ButtonStyle="ButtonStyle.Info"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Click="@(async ()=> await Editar(item))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Deshabilitar"
                                  Icon="delete"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.ExtStatus.Equals(true)"
                                  Click="@(async ()=> await CambiarStatus(item, false))" @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton title="Habilitar"
                                  ButtonStyle="ButtonStyle.Success"
                                  Icon="autorenew"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Visible="item.ExtStatus.Equals(false)"
                                  Click="@(async ()=> await CambiarStatus(item, true))" @onclick:stopPropagation="true">
                    </RadzenButton>

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

</div>

@code
{
    private string Title = "Catálogo de Números de Extensión";
    private bool cargado { get; set; } = false;

    private bool puede_editar { get; set; } = true;
    private bool puede_agregar { get; set; } = false;

    private List<RequestViewModel_NoExtension> items = new List<RequestViewModel_NoExtension>();
    private IList<RequestViewModel_NoExtension> selectedItems = new List<RequestViewModel_NoExtension>();

    public List<RequestViewModel_AreaDepto> cat_ExtIdAreaDepto { get; private set; } = new List<RequestViewModel_AreaDepto>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CargarLista();

            cat_ExtIdAreaDepto = await WebUtils.ListByStatusAsync(servicioAreaDepto);

            cargado = true;
            StateHasChanged();
        }
    }

    private async Task CargarLista(int? selecccionar_id = null)
    {
        items = await WebUtils.ListByStatusAsync(servicioNoExtension, false);

        if (selecccionar_id is not null)
        {
            selectedItems = items.Where(i => (i.IdExtension == selecccionar_id)).ToList();
        }
    }

    private async Task<RequestViewModel_NoExtension?> MostrarFormulario(RequestViewModel_NoExtension registro)
    {
        return await DialogService.OpenAsync<ExtensionEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>()
                    {
                        {"registro", registro},
                        {"cat_ExtIdAreaDepto",cat_ExtIdAreaDepto}
                    },
                    new DialogOptions()
                    {
                            ShowClose = false,
                            CssClass = "dialog_simple"
                    }
                );
    }

    private void MensajeCarga()
    {
        DialogService.OpenAsync<Carga>(
                "Cargando...",
                new Dictionary<string, object>(),
                new DialogOptions() { ShowClose = false, Width = "64px" }
            );
    }

    private async Task Agregar()
    {
        RequestViewModel_NoExtension registro = new();

        RequestViewModel_NoExtension? result = await MostrarFormulario(registro);

        if (result is not null)
        {
            MensajeCarga();

            HttpResponseMessage response = await servicioNoExtension.AddDataAsync(registro);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(result.IdExtension);
            }

            DialogService.Close();
        }
    }// AGREGAR

    private async Task Editar(RequestViewModel_NoExtension item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_NoExtension? registro = JsonSerializer.Deserialize<RequestViewModel_NoExtension>(json);

        if (registro is not null)
        {
            RequestViewModel_NoExtension? result = await MostrarFormulario(registro);

            if (result is not null)
            {
                HttpResponseMessage response = await servicioNoExtension.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    await CargarLista(item.IdExtension);
                }
            }
        }
    }//EDITAR

    private async Task CambiarStatus(RequestViewModel_NoExtension item, bool status)
    {
        string des = status ? "" : "des";

        bool result = await DialogService.OpenAsync<ConfirmarDlg>
            (
                "Confirmar",
                new Dictionary<string, object>()
                                    {
                    {"mensaje" , $"¿Desea {des}habilitar el registro de {item.ExtNoExtension} ({item.ExtIdAreaDeptoNavigation!.AreNombreAreaDepto})?" }
                                    },
                new DialogOptions() { ShowClose = false }
            );

        if (result)
        {
            HttpResponseMessage response = await servicioUsuario.EnableDisableDataByIdAsync(item.IdExtension, status);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(item.IdExtension);
            }
        }
    }//CAMBIAR STATUS
}
