@page "/SolicitudesPendientes"
@attribute [Authorize(Policy = "[Rol] Administrador")]
@inject IJSRuntime JsRuntime
@inject Radzen.DialogService dialogService

<PageTitle>@Title</PageTitle>
<script src="js/descargar.js?v=1.0.0.8"></script>

<div class="p-4 rounded-1 bg-white shadow">
    <h1>@Title</h1>

    <div class="row my-4">
        <div class="offset-10 col-2">
            @if(puede_exportar)
            {
                <button class="btn btn-primary form-control mb-3" @onclick="Descargar">
                    <RadzenIcon Icon="get_app"></RadzenIcon>
                    Exportar
                </button>
                <div>
                    <InputCheckbox @bind-Value="exportar_zip"></InputCheckbox> Generar Archivo Zip
                </div>
            }
            
            @if(!string.IsNullOrEmpty(link))
            {
                <br/>
                <a href="@link">Archivo de Exportación</a>
            }
        </div>
    </div>

    @if (!cargado)
    {
        <div class="row my-4">
            <div class="col text-center">
                <img src="logo_saci.png" class="loading_img" />
                <br />
                Trabajando...
            </div>
        </div>
    }

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@items" TItem="RequestDTO_Solicitud"
                    Visible=@cargado>
        <Columns>
            <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="IdSolicitudTicket" Filterable="true" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Title="Tipo" Filterable="true" TextAlign="TextAlign.Start">
                <Template Context="item">
                    @item.SolIdTipoSolicitudNavigation!.TiposolDescripcion
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Title="Solicitante" Filterable="false" TextAlign="TextAlign.Start">
                <Template Context="item">
                    @if (item.SolIdEstadoSolicitud != 6)
                    {
                        <text>
                            @item.SolIdUsuarioNavigation!.UsuPrimerApellido
                            @item.SolIdUsuarioNavigation!.UsuSegundoApellido
                            @item.SolIdUsuarioNavigation!.UsuNombre
                        </text>
                    }
                    else
                    {
                        <del>
                            @item.SolIdUsuarioNavigation!.UsuPrimerApellido
                            @item.SolIdUsuarioNavigation!.UsuSegundoApellido
                            @item.SolIdUsuarioNavigation!.UsuNombre
                        </del>
                    }
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Title="Adjuntos" Filterable="false" TextAlign="TextAlign.Start">
                <Template Context="item">
                    <ul>
                        <li>
                            <strong>CURP</strong>
                            <a href="@GenerarURLArchivoUsuario(item, TipoDocumento.CURP)"
                               download="@GenerarNombreArchivo(item, TipoDocumento.CURP)">
                                Descargar
                            </a>
                            <br />
                            <button class="btn btn-primary form-control" @onclick="@(async ()=> await VerCURP(item))">Ver</button>
                        </li>

                        @if(item.SolIdUsuarioNavigation!.UsuFileNameComprobanteInscripcion != "-")
                        {
                            <li>
                                <strong>Comprobante de Inscripción</strong>
                                <a href="@GenerarURLArchivoUsuario(item, TipoDocumento.COM_INSCRIPCION)"
                                   download="@GenerarNombreArchivo(item, TipoDocumento.COM_INSCRIPCION)">
                                    Descargar
                                </a>
                                <br />
                                <button class="btn btn-primary form-control" 
                                    @onclick="@(async () => await VerPDF(GenerarURLArchivoUsuario(item, TipoDocumento.COM_INSCRIPCION), "COMPROBANTE DE INSCRIPCIÓN"))">
                                    Ver
                                </button>
                            </li>
                        }

                        @if ((item.SolCapturaCuentaBloqueada??"-") != "-")
                        {
                            <li>
                                <strong>Captura de Bloqueo</strong>
                                <a href="@GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_BLOQUEO)"
                                   download="@GenerarNombreArchivo(item, TipoDocumento.CAP_BLOQUEO)">
                                    Descargar
                                </a>
                                <br />
                                <button class="btn btn-primary form-control"
                                        @onclick="@(async () => await VerPDF(GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_BLOQUEO), "CAPTURA DE PANTALLA DE BLOQUEO"))">
                                    Ver
                                </button>
                            </li>
                        }

                        @if ((item.SolCapturaEscaneoAntivirus ?? "-") != "-")
                        {
                            <li>
                                <strong>Captura de Escaneo de Antivirus</strong>
                                <a href="@GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_ANTIVIRUS)"
                                   download="@GenerarNombreArchivo(item, TipoDocumento.CAP_ANTIVIRUS)">
                                    Descargar
                                </a>
                                <br />
                                <button class="btn btn-primary form-control"
                                        @onclick="@(async () => await VerPDF(GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_ANTIVIRUS), "CAPTURA DE PANTALLA DE ESCANEO DE ANTIVIRUS"))">
                                    Ver
                                </button>
                            </li>
                        }

                        @if ((item.SolCapturaError ?? "-") != "-")
                        {
                            <li>
                                <strong>Captura de Error</strong>
                                <a href="@GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_ERROR)"
                                   download="@GenerarNombreArchivo(item, TipoDocumento.CAP_ERROR)">
                                    Descargar
                                </a>
                                <br />
                                <button class="btn btn-primary form-control"
                                        @onclick="@(async () => await VerPDF(GenerarURLArchivoRepositorio(item, TipoDocumento.CAP_ERROR), "CAPTURA DE PANTALLA DE ERROR"))">
                                    Ver
                                </button>
                            </li>
                        }
                    </ul>
                    
                </Template>
            </RadzenDataGridColumn><!--ARCHIVOS-->


            <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Title="Verificado" Filterable="false" TextAlign="TextAlign.Center">
                <Template Context="item">
                    <RadzenStack Class="rz-p-sm-12">
                        <RadzenSwitch @bind-Value=@item.SolValidacionDatos Change="StateHasChanged" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Switch value" }})" />
                    </RadzenStack>

                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

<pre>@debug</pre>

@code{
    private string Title = "Solicitudes Pendientes";

    private bool cargado { get; set; } = false;
    private bool generando = false;
    private bool exportar_zip = false;

    private string link = string.Empty;

    private List<RequestDTO_Solicitud> items = new List<RequestDTO_Solicitud>();
    
    private readonly int[] estados = { TipoEstadoSolicitud.ALTA, TipoEstadoSolicitud.PENDIENTE };

    private bool puede_exportar
    {
        get
        {
            return items.Any(i => i.SolValidacionDatos);
        }
    }

    private string debug = string.Empty;

    private string ArchivoSolicitud(RequestDTO_Solicitud solicitud, TipoDocumento tipo_documento)
    {
        string archivo = "ARCHIVO_404";

        switch(tipo_documento)
        {
            case TipoDocumento.CURP: 
                archivo = solicitud.SolIdUsuarioNavigation!.UsuFileNameCurp!; 
                break;

            case TipoDocumento.COM_INSCRIPCION: 
                archivo = solicitud.SolIdUsuarioNavigation!.UsuFileNameComprobanteInscripcion!;
                break;

            case TipoDocumento.CAP_BLOQUEO:
                archivo = solicitud.SolCapturaCuentaBloqueada!;
                break;

            case TipoDocumento.CAP_ANTIVIRUS:
                archivo = solicitud.SolCapturaEscaneoAntivirus!;
                break;

            case TipoDocumento.CAP_ERROR:
                archivo = solicitud.SolCapturaError!;
                break;
        }

        return archivo;
    }

    private string GenerarURLArchivoUsuario(RequestDTO_Solicitud solicitud, TipoDocumento tipo_documento)
    {
        string archivo = ArchivoSolicitud(solicitud, tipo_documento);
        return ServerFS.ArchivoUsuario(solicitud.SolIdUsuario, archivo);
    }

    private string GenerarURLArchivoRepositorio(RequestDTO_Solicitud solicitud, TipoDocumento tipo_documento)
    {
        string archivo = ArchivoSolicitud(solicitud, tipo_documento);
        return ServerFS.ArchivoRepositorio(solicitud.IdSolicitudTicket,archivo);
    }

    private string GenerarNombreArchivo(RequestDTO_Solicitud solicitud, TipoDocumento tipo_documento)
    {
        string archivo = ArchivoSolicitud(solicitud, tipo_documento);
        string ext = Path.GetExtension(archivo);
        string nombre = tipo_documento.GetNombre();
        return $"SOL{solicitud.IdSolicitudTicket}_{solicitud.SolIdUsuarioNavigation!.UsuCurp}_{nombre}{ext}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CargarLista();

            cargado = true;
            StateHasChanged();
        }
    }

    private async Task CargarLista(int? selecccionar_id = null)
    {
        Response<List<RequestDTO_Solicitud>>? request = await servicioSolicitud.GetAllDataByProgressAsync(estados);

        if(request is not null && request.Data is not null)
        {
            if (request.Success==1)
            {
                items = request.Data;
            }
            else
            {
                debug += $"{Environment.NewLine}<span class=\"text-danger fw-bold\">[ERROR]<span> {request.Message}";
            }
        }
    }

    private async void Descargar()
    {
        cargado = false;
        //StateHasChanged();

        List<int> selected_ids = items.Where(i=>i.SolValidacionDatos).Select(st => st.IdSolicitudTicket).ToList();

        Response<List<WebUtils.Link>>? oResponse = await servicioArchivos.NewFileFromSelection(exportar_zip?"zip":"xlsx", "pendientes", selected_ids);

        if(oResponse is not null && oResponse.Data is not null)
        {
            if(oResponse.Success == 1)
            {
                await CargarLista();

                foreach (WebUtils.Link url in oResponse.Data)
                {
                    await JSRuntime.InvokeVoidAsync("Descargar", url);
                }
            }
            else
            {
                debug += Environment.NewLine + oResponse.Message;
            }
        }

        cargado = true;
        StateHasChanged();
    }

    private async Task VerPDF(string archivo, string titulo = "Ver") 
    {
        await dialogService.OpenAsync<PDFViewer>
                (
                    titulo,
                    new Dictionary<string, object>()
                    {
                        {"file", archivo}
                    },
                    new DialogOptions()
                        {
                            Width = "calc( 100vw - 8em )",
                            Height = "calc( 100vh - 8em )",
                            CssClass = "dialog_simple p-0", 
                            CloseDialogOnEsc = true, 
                            CloseDialogOnOverlayClick = true,
                            Resizable = true,
                            Draggable = true
                        }
                );
    }

    private async Task VerCURP(RequestDTO_Solicitud item)
    {
        string nombre = $@"{item.SolIdUsuarioNavigation!.UsuNombre}
        {item.SolIdUsuarioNavigation!.UsuPrimerApellido}
        {item.SolIdUsuarioNavigation!.UsuSegundoApellido} - {item.SolIdUsuarioNavigation!.UsuCurp}";

        await VerPDF(GenerarURLArchivoUsuario(item, TipoDocumento.CURP), nombre);
    }

    private async Task VerComprobanteInscripcion(RequestDTO_Solicitud item)
    {
        string nombre = $@"{item.SolIdUsuarioNavigation!.UsuNombre}
        {item.SolIdUsuarioNavigation!.UsuPrimerApellido}
        {item.SolIdUsuarioNavigation!.UsuSegundoApellido}";

        await VerPDF(GenerarURLArchivoUsuario(item, TipoDocumento.CURP), nombre);
    }
}