@page "/SeguimientoSolicitudesTickets"

@attribute [Authorize(Policy = "[Rol] Usuario Solicitante")]

<PageTitle>SACI | Seguimiento de Solicitudes-Tickets</PageTitle>

<style type="text/css">
    .circle-border {
        align-items: center;
        justify-content: center;
        display: flex;
        color: green;
        width: 60px;
        height: 60px;
        border: 5px solid rgb(215,215,215);
        border-radius: 50%;
    }
</style>

<RadzenCard Variant="Variant.Filled" Class="mb-3">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.NoWrap" Gap="20px" class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
        </svg>
        <RadzenText TextStyle="TextStyle.H3" class="rz-color-base-800">Seguimiento de Ticket's</RadzenText>
    </RadzenStack>
</RadzenCard>

@if (oSolicitudesTickets is not null && oSolicitudesTickets.Data != null)
{
    <AuthorizeView>
        <Authorized>
            @* <p>Autorizado</p> *@
            <RadzenDataGrid @ref="oSolicitudesTicketsRef" Data="@oSolicitudesTickets.Data" @bind-Value="@selectedItems" TItem="RequestDTO_Solicitud"
                            AllowVirtualization="true" AllowFiltering="true" AllowColumnResize="true" AllowColumnReorder="true" AllowAlternatingRows="true" AllowPaging="true" AllowSorting="true" AllowColumnPicking="true"
                            FilterMode="FilterMode.Advanced" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" ColumnWidth="300px" SelectionMode="DataGridSelectionMode.Single">
                <Columns>
                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="IdSolicitudTicket" Filterable="false" Title="#TICKET" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="SolIdTipoSolicitudNavigation.TiposolDescripcion" Title="Motivo Solicitud" Frozen="true" Width="160px" />

                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Title="Usuario" Property="SolIdUsuario" Frozen="true" Sortable="true" Filterable="true" Width="80px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            @* <RadzenImage Path="@data.Photo" class="rz-gravatar" AlternateText="@(data.FirstName + " " + data.LastName)" /> *@
                            @($@"{data.SolIdUsuarioNavigation.UsuNombre} {data.SolIdUsuarioNavigation.UsuPrimerApellido} {data.SolIdUsuarioNavigation.UsuSegundoApellido}")
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="SolObservacionesSolicitud" Title="Observaciones" Width="200px" />
                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="SolIdEstadoSolicitudNavigation.EdosolNombreEstado" Title="Estado" Width="100px" />
                    <RadzenDataGridColumn TItem="RequestDTO_Solicitud" Property="SolFechaHoraCreacion" Title="Fecha / Hora de Creación" FormatString="{0:d}" Width="120px" />
                    @* <td>@item.SolEncuestaCalidadCalificacion</td>
                    <td>@item.SolEncuestaCalidadComentarios</td>
                    <td>@item.SolFechaHoraEncuesta</td> *@
                </Columns>
            </RadzenDataGrid>
        </Authorized>
        <NotAuthorized>
            <p>No Autorizado</p>
        </NotAuthorized>
        <Authorizing>
            <p>Autorizando..</p>
        </Authorizing>
    </AuthorizeView>
}
else
{
    <LoadingComponent />
}

@code
{
    @*///////////////////////////////////////////////  INICIALIZAR OBJETOS Y OBTENER DATA ASYNC  ///////////////////////////////////////////////*@
    private Response<List<RequestDTO_Solicitud>>? oSolicitudesTickets = new();
    private RadzenDataGrid<RequestDTO_Solicitud>? oSolicitudesTicketsRef = new();
    IList<RequestDTO_Solicitud> selectedItems;

    protected override async Task OnInitializedAsync()
    {
        var authState = await servicioAuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            int idUsuario = Convert.ToInt32(user.Claims.FirstOrDefault(c => c.Type == "ID")?.Value);

            oSolicitudesTickets = await servicioSolicitud.GetDataByIdUsuarioAsync(idUsuario);
            selectedItems = new List<RequestDTO_Solicitud>() { oSolicitudesTickets.Data.FirstOrDefault() };
        }
    }
}
