@inject Radzen.DialogService dialogService

<EditForm Model=@registro OnValidSubmit="@OnValidForm">
    <div class="alert alert-info">
        Los campos marcados con <strong class="red" title="requerido">*</strong> son <strong>requeridos</strong>.
    </div>
    <DataAnnotationsValidator/>
    <div class="row"><!--ROW-->
        <div class="col-4 mb-2">
            <span class="fw-bold">Número de Escuela (?)</span>
            <InputText @bind-Value="@registro.EscNoEscuela" class=" form-control" />
            <ValidationMessage For="()=>registro.EscNoEscuela"></ValidationMessage>
        </div>

        <div class="col-8 mb-2">
            <span class="fw-bold">Nombre Corto</span>
            <InputText @bind-Value="@registro.EscNombreCorto" class=" form-control" />
            <ValidationMessage For="()=>registro.EscNombreCorto"></ValidationMessage>
        </div>

        <div class="col-12 mb-2">
            <span class="fw-bold">Nombre Largo</span>
            <InputText @bind-Value="@registro.EscNombreLargo" class=" form-control" />
            <ValidationMessage For="()=>registro.EscNombreLargo"></ValidationMessage>
        </div>
        
        <div class="col-6 mb-2">
            <span class="fw-bold">Logo</span>
            <InputText @bind-Value="@registro.EscLogo" class=" form-control" />
            <ValidationMessage For="()=>registro.EscLogo"></ValidationMessage>
        </div>
    </div><!--ROW-->
    
    <div class="container-fluid mt-3 py-3 bg-silver">
        <div class="row">
            <div class="offset-4 col-4">
                <button type="button" class="btn btn-secondary form-control" @onclick=@OnCloseForm>Cancelar</button>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary form-control">
                    Guardar
                </button>
            </div>
        </div>
    </div>

</EditForm>

@code
{
    [Parameter] public RequestViewModel_Escuela registro { get; set; } = new RequestViewModel_Escuela();
    
    private void OnValidForm() => dialogService.Close(registro);
    private void OnCloseForm() => dialogService.Close(null);
}
