@using CorreosInstitucionales.Shared;
@using CorreosInstitucionales.Shared.Constantes;
@using CorreosInstitucionales.Shared.CapaTools

@inject Radzen.DialogService dialogService

<EditForm Model=@registro OnValidSubmit="@OnValidForm">
    <div class="alert alert-info">
        Los campos marcados con <strong class="red" title="requerido">*</strong> son <strong>requeridos</strong>.
    </div>
    <DataAnnotationsValidator />
    
    <section class="my-2 py-2">
        <h1 class="my-4">Datos de Cuenta</h1>

        <div class="row">
            <div class="col-4">
                <span class="fw-bold"> Fecha de Alta</span>
                <br />@registro.UsuFechaHoraAlta
            </div>

            <div class="col-4">
                <span class="fw-bold">Rol</span>
                <InputSelect @bind-Value="@registro.UsuIdRol" class=" form-select">
                    @foreach (var item in cat_UsuIdRol)
                    {
                        <option value="@item.IdRol">@item.RolNombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=>registro.UsuIdRol"></ValidationMessage>
            </div>

            <div class="col-4">
                <span class="fw-bold">Tipo Personal</span>
                <InputSelect @bind-Value="@registro.UsuIdTipoPersonal" class=" form-select">
                    @foreach (var item in cat_UsuIdTipoPersonal)
                    {
                        <option value="@item.IdTipoPersonal">@item.TipoperNombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=>registro.UsuIdTipoPersonal"></ValidationMessage>
            </div>
        </div><!--ROW-->
    </section>

    <section class="mb-2">
        <h1 class="my-4">Datos personales</h1>

        <div class="row my-2">
            <div class="col-4 mb-2">
                <span class="fw-bold">Nombre (s)<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNombre" class="required form-control text-uppercase" />
                <ValidationMessage For="()=>registro.UsuNombre"></ValidationMessage>
            </div>

            <div class="col-4 mb-2">
                <span class="fw-bold">Primer Apellido<strong class="red text-uppercase" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuPrimerApellido" class="required form-control text-uppercase" />
                <ValidationMessage For="()=>registro.UsuPrimerApellido"></ValidationMessage>
            </div>

            <div class="col-4 mb-2">
                <span class="fw-bold">Segundo Apellido</span>
                <InputText @bind-Value="@registro.UsuSegundoApellido" class="form-control text-uppercase" />
                <ValidationMessage For="()=>registro.UsuSegundoApellido"></ValidationMessage>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-6">
                <span class="fw-bold">CURP<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCurp" class="required form-control text-uppercase" />
                <ValidationMessage For="()=>registro.UsuCurp"></ValidationMessage>
            </div>

            <div class="col-6">
                <span class="fw-bold">Archivo CURP</span>
                <InputFile OnChange="fuCURP_OnChange" class="form-control mb-3"></InputFile>
            </div>
        </div>
    </section>


    <section class="mb-2">
        <h1 class="my-4">Datos de contacto</h1>
        <div class="row my-2">
            <div class="col-6">
                <span class="fw-bold">Celular<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNoCelularNuevo" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuNoCelularNuevo"></ValidationMessage>
            </div>
            <div class="col-6">
                <span class="fw-bold">Correo (Personal)<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCorreoPersonalCuentaNueva" class="required form-control text-lowercase" />
                <ValidationMessage For="()=>registro.UsuCorreoPersonalCuentaNueva"></ValidationMessage>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-6">
                <span class="fw-bold">Contraseña</span>
                <InputCheckbox @bind-Value=agregar_clave /> Establecer contraseña
                <br>
                @if (agregar_clave)
                {

                    <InputText type="password" @bind-Value="@registro.UsuContraseña" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuContraseña"></ValidationMessage>
                }
            </div>
        </div>
    </section>

    @if(es_alumno || es_alumno_maestria || es_empleado)
    {
    <section class="mb-2">
        <h1 class="my-4">Información General</h1>
        <div class="row my-2">
            @if (es_alumno)
            {
                <div class="col-2">
                    <span class="fw-bold">Boleta (Alumno)<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuBoletaAlumno" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuBoletaAlumno"></ValidationMessage>
                </div>

                <div class="col-3">
                    <span class="fw-bold">Carrera</span>
                    <InputSelect @bind-Value="@registro.UsuIdCarrera" class=" form-select">
                        @foreach (var item in cat_UsuIdCarrera)
                        {
                            <option value="@item.IdCarrera">@item.CarrNombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdCarrera"></ValidationMessage>
                </div>

                <div class="col-2">
                    <span class="fw-bold">Semestre</span>
                    <InputSelect @bind-Value="@registro.UsuSemestre" class=" form-select">
                        @foreach (var item in CorreosInstitucionales.Shared.Constantes.Catalogo.Semestres)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </InputSelect>
                </div>
            }

            @if (es_alumno_maestria)
            {
                <div class="col-2">
                    <span class="fw-bold">Boleta (Maestria)<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuBoletaMaestria" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuBoletaMaestria"></ValidationMessage>
                </div>
            }

            @if (es_egresado)
            {
                <div class="col-2">
                    <span class="fw-bold">Año Egreso<strong class="red" title="requerido">*</strong></span>
                    <InputNumber @bind-Value="@registro.UsuAñoEgreso" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuAñoEgreso"></ValidationMessage>
                </div>
            }

            @if(es_alumno || es_alumno_maestria)
            {
                <div class="col-3">
                    <span class="fw-bold">Comprobante de Etudios</span>
                    <InputFile OnChange="fuComprobanteInscripcion_OnChange" class="form-control mb-3"></InputFile>
                </div>
            }


            @if (es_empleado)
            {
                <div class="col-2">
                    <span class="fw-bold"> Numero de Empleado<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuNumeroEmpleado" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuNumeroEmpleado"></ValidationMessage>
                </div>

                    <div class="col-2">
                        <span class="fw-bold">Extension<strong class="red" title="requerido">*</strong></span>
                        <InputText @bind-Value="@registro.UsuNoExtension" class="required form-control" />
                        <ValidationMessage For="()=>registro.UsuNoExtension"></ValidationMessage>
                    </div>

                <div class="col-8">
                    <span class="fw-bold">Área o Departamento</span>
                    <InputSelect @bind-Value="@registro.UsuIdAreaDepto" @bind-Value:after="Area_OnChanged" class=" form-select">
                        @foreach (var item in cat_UsuIdAreaDepto)
                        {
                            <option value="@item.IdAreaDepto">@item.AreNombreAreaDepto</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdAreaDepto"></ValidationMessage>
                </div>

                
            }
        </div>
    </section>
    }
    
    
    @if(!string.IsNullOrEmpty(registro.UsuCorreoInstitucionalCuenta))
    {
    <section class="mb-2">
        <h1 class="my-2">Cuenta Institucional</h1>
        <div class="row my-2">
            <div class="col-6">
                <span class="fw-bold">Correo</span>
                <br />
                @registro.UsuCorreoInstitucionalCuenta
            </div>

            <div class="col-6">
                <span class="fw-bold">Contraseña</span>
                <br />
                @registro.UsuCorreoInstitucionalContraseña
            </div>
        </div>
    </section>
    }
    <div class="row my-2">
        <div class="col">
            <ValidationSummary />
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-4">
            <button type="button" class="btn btn-secondary form-control" @onclick=@OnCloseForm>Cancelar</button>
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary form-control">
                Guardar
            </button>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter] public RequestDTO_Usuario registro { get; set; } = new RequestDTO_Usuario();

    [Parameter] public List<RequestViewModel_AreaDepto> cat_UsuIdAreaDepto { get; set; } = new List<RequestViewModel_AreaDepto>();
    [Parameter] public List<RequestViewModel_Carrera> cat_UsuIdCarrera { get; set; } = new List<RequestViewModel_Carrera>();
    [Parameter] public List<RequestViewModel_Rol> cat_UsuIdRol { get; set; } = new List<RequestViewModel_Rol>();
    [Parameter] public List<RequestViewModel_TipoPersonal> cat_UsuIdTipoPersonal { get; set; } = new List<RequestViewModel_TipoPersonal>();

    [Parameter] public bool agregar_clave { get; set; } = false;

    int[] tipo_personal_alumnos = new int[] { (int)TipoPersonal.ALUMNO, (int)TipoPersonal.EGRESADO };
    int[] tipo_peronal_personal = new int[] { (int)TipoPersonal.DOCENTE, (int)TipoPersonal.HONORARIOS };

    private Dictionary<TipoDocumento,IBrowserFile?> archivos = new();

    private bool es_alumno { get { return tipo_personal_alumnos.Contains(registro.UsuIdTipoPersonal); } }

    private bool es_egresado { get { return registro.UsuIdTipoPersonal == (int)TipoPersonal.EGRESADO || es_alumno_maestria; } }
    private bool es_alumno_maestria { get { return registro.UsuIdTipoPersonal == (int)TipoPersonal.MAESTRIA; } }
    private bool es_empleado { get { return tipo_peronal_personal.Contains(registro.UsuIdTipoPersonal); }}

    private void fuCURP_OnChange(InputFileChangeEventArgs e)
    {
        archivos[TipoDocumento.CURP] = e.File;
        registro.UsuFileNameCurp = "-";
    }

    private void fuComprobanteInscripcion_OnChange(InputFileChangeEventArgs e)
    {
        archivos[TipoDocumento.COM_INSCRIPCION] = e.File;
        registro.UsuFileNameComprobanteInscripcion = "-";
    }

    private void Area_OnChanged()
    {
        registro.UsuNoExtensionAnterior = registro.UsuNoExtension;
        registro.UsuNoExtension = cat_UsuIdAreaDepto.First(area => area.IdAreaDepto == registro.UsuIdAreaDepto).AreNoExtension;
    }

    private void OnValidForm() 
    {
        registro.UsuNombre = registro.UsuNombre.ToUpper();
        registro.UsuPrimerApellido = registro.UsuPrimerApellido.ToUpper();
        registro.UsuSegundoApellido = (registro.UsuSegundoApellido ?? "").ToUpper();
        registro.UsuCorreoPersonalCuentaNueva = registro.UsuCorreoPersonalCuentaNueva.ToLower();

        if(agregar_clave)
        {
            registro.UsuContraseña = Encrypt.GetSHA256(registro.UsuContraseña);
        }
        dialogService.Close(new DocumentoAdjunto<RequestDTO_Usuario>(registro, archivos));
    }
    private void OnCloseForm() => dialogService.Close(null);
}
