@inject Radzen.DialogService dialogService

<EditForm Model=@registro OnValidSubmit="@OnValidForm">
    <div class="alert alert-info">
        Los campos marcados con <strong class="red" title="requerido">*</strong> son <strong>requeridos</strong>.
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary/>

    <section class="my-2">
        <h1>Datos de Cuenta</h1>

        <div class="row">
            <div class="col-4">
                <span class="fw-bold"> Fecha de Alta</span>
                <br />@registro.UsuFechaHoraAlta
            </div>

            <div class="col-4">
                <span class="fw-bold">Rol</span>
                <InputSelect @bind-Value="@registro.UsuIdRol" class=" form-select">
                    @foreach (var item in cat_UsuIdRol)
                    {
                        <option value="@item.IdRol">@item.RolNombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=>registro.UsuIdRol"></ValidationMessage>
            </div>

            <div class="col-4">
                <span class="fw-bold">Tipo Personal</span>
                <InputSelect @bind-Value="@registro.UsuIdTipoPersonal" class=" form-select">
                    @foreach (var item in cat_UsuIdTipoPersonal)
                    {
                        <option value="@item.IdTipoPersonal">@item.TipoperNombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="()=>registro.UsuIdTipoPersonal"></ValidationMessage>
            </div>
        </div><!--ROW-->
    </section>

    <section class="my-2">
        <h1>Datos personales</h1>

        <div class="row">
            <div class="col-4 mb-2">
                <span class="fw-bold">Nombre (s)<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNombre" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuNombre"></ValidationMessage>
            </div>

            <div class="col-4 mb-2">
                <span class="fw-bold">Primer Apellido<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuPrimerApellido" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuPrimerApellido"></ValidationMessage>
            </div>

            <div class="col-4 mb-2">
                <span class="fw-bold">Segundo Apellido</span>
                <InputText @bind-Value="@registro.UsuSegundoApellido" class=" form-control" />
                <ValidationMessage For="()=>registro.UsuSegundoApellido"></ValidationMessage>
            </div>

            <div class="col-6">
                <span class="fw-bold">CURP<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCurp" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuCurp"></ValidationMessage>
            </div>
        </div>
    </section>


    <section class="my-2">
        <h1>Datos de contacto</h1>
        <div class="row">
            <div class="col-6">
                <span class="fw-bold">Celular<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuNoCelularNuevo" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuNoCelularNuevo"></ValidationMessage>
            </div>
            <div class="col-6">
                <span class="fw-bold">Correo (Personal)<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuCorreoPersonalCuentaNueva" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuCorreoPersonalCuentaNueva"></ValidationMessage>
            </div>

            <div class="col-6">
                <span class="fw-bold">UsuContraseña<strong class="red" title="requerido">*</strong></span>
                <InputText @bind-Value="@registro.UsuContraseña" class="required form-control" />
                <ValidationMessage For="()=>registro.UsuContraseña"></ValidationMessage>
            </div>
        </div>
    </section>

    @if(es_alumno || es_empleado)
    {
    <section class="my-2">
        <h1>Información General</h1>
        <div class="row">
            @if (es_alumno)
            {
                <div class="col-6">
                    <span class="fw-bold">Boleta (Alumno)<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuBoletaAlumno" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuBoletaAlumno"></ValidationMessage>
                </div>

                <div class="col-6">
                    <span class="fw-bold">Carrera</span>
                    <InputSelect @bind-Value="@registro.UsuIdCarrera" class=" form-select">
                        @foreach (var item in cat_UsuIdCarrera)
                        {
                            <option value="@item.IdCarrera">@item.CarrNombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdCarrera"></ValidationMessage>
                </div>

                <div class="col-6">
                    <span class="fw-bold">Semestre<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuSemestre" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuSemestre"></ValidationMessage>
                </div>
            }

            @if (es_alumno_maestria)
            {
                <div class="col-6">
                    <span class="fw-bold">Boleta (Maestria)<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuBoletaMaestria" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuBoletaMaestria"></ValidationMessage>
                </div>
            }

            @if (es_egresado)
            {
                <div class="col-6">
                    <span class="fw-bold">Año Egreso<strong class="red" title="requerido">*</strong></span>
                    <InputNumber @bind-Value="@registro.UsuAñoEgreso" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuAñoEgreso"></ValidationMessage>
                </div>
            }

            @if (es_empleado)
            {
                <div class="col-6">
                    <span class="fw-bold"> Numero de Empleado<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuNumeroEmpleado" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuNumeroEmpleado"></ValidationMessage>
                </div>

                <div class="col-6">
                    <span class="fw-bold">UsuIdAreaDepto</span>
                    <InputSelect @bind-Value="@registro.UsuIdAreaDepto" class=" form-select">
                        @foreach (var item in cat_UsuIdAreaDepto)
                        {
                            <option value="@item.IdAreaDepto">@item.AreNombreAreaDepto</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="()=>registro.UsuIdAreaDepto"></ValidationMessage>
                </div>

                <div class="col-6">
                    <span class="fw-bold">Extension<strong class="red" title="requerido">*</strong></span>
                    <InputText @bind-Value="@registro.UsuNoExtension" class="required form-control" />
                    <ValidationMessage For="()=>registro.UsuNoExtension"></ValidationMessage>
                </div>
            }
        </div>
    </section>
    }
    
    
    @if(!string.IsNullOrEmpty(registro.UsuCorreoInstitucionalCuenta))
    {
    <section class="my-2">
        <h1>Cuenta Institucional</h1>
        <div class="row">
            <div class="col-6">
                <span class="fw-bold">Correo</span>
                <br />
                @registro.UsuCorreoInstitucionalCuenta
            </div>

            <div class="col-6">
                <span class="fw-bold">Contraseña</span>
                <br />
                @registro.UsuCorreoInstitucionalContraseña
            </div>
        </div>
    </section>
    }
    
    <div class="container-fluid mt-3 py-3 bg-silver">
        <div class="row">
            <div class="offset-8 col-2">
                <button type="button" class="btn btn-secondary form-control" @onclick=@OnCloseForm>Cancelar</button>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-primary form-control">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter] public RequestDTO_Usuario registro { get; set; } = new RequestDTO_Usuario();

    [Parameter] public List<RequestViewModel_AreaDepto> cat_UsuIdAreaDepto { get; set; } = new List<RequestViewModel_AreaDepto>();
    [Parameter] public List<RequestViewModel_Carrera> cat_UsuIdCarrera { get; set; } = new List<RequestViewModel_Carrera>();
    [Parameter] public List<RequestViewModel_Rol> cat_UsuIdRol { get; set; } = new List<RequestViewModel_Rol>();
    [Parameter] public List<RequestViewModel_TipoPersonal> cat_UsuIdTipoPersonal { get; set; } = new List<RequestViewModel_TipoPersonal>();

    int[] ids_tipo_personal_alumnos = new int[] { 1, 2 };
    int[] ids_tipo_peronal_personal = new int[] { 5, 6 };

    private bool es_alumno { get { return ids_tipo_personal_alumnos.Contains(registro.UsuIdTipoPersonal); } }

    private bool es_egresado { get {  return registro.UsuIdTipoPersonal == 2 || es_alumno_maestria; } }
    private bool es_alumno_maestria { get { return registro.UsuIdTipoPersonal == 3; }}
    private bool es_empleado { get { return ids_tipo_peronal_personal.Contains(registro.UsuIdTipoPersonal); }}
    
    private void OnValidForm() => dialogService.Close(registro);
    private void OnCloseForm() => dialogService.Close(null);
}
