@page "/Administradores"

@attribute [AllowAnonymous]

<style type="text/css"></style>
<EditForm Model="@oUsuario" OnValidSubmit="@OnValidHandled_Registrar" OnInvalidSubmit="@OnInvalidHandled_ScrollToTop">

    <DataAnnotationsValidator />

    <!-- ******************************************************************* DATOS PERSONALES ******************************************************************* -->
    <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos Personales" CollapseTitle="Datos Personales" ExpandAriaLabel="" CollapseAriaLabel="" Class="rz-border-base-500 rz-border-radius-1 rz-shadow-3">
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_box" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos Personales</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="row">
                 <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Nombre(s)" AllowFloatingLabel="false" Placeholder="Nombre(s)" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <RadzenTextBox style="border-bottom: 3px solid red;" />
                    </RadzenFormField>
                 </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Primer Apellido" AllowFloatingLabel="false" Placeholder="Primer Apellido" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <RadzenTextBox style="border-bottom: 3px solid red;" />
                    </RadzenFormField>
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Segundo Apellido" AllowFloatingLabel="false" Placeholder="Segundo Apellido" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <RadzenTextBox style="border-bottom: 3px solid red;" />
                    </RadzenFormField>
                </div>
            </div>
        </ChildContent>
        <SummaryTemplate>
            <ValidationSummary />
        </SummaryTemplate>
    </RadzenFieldset>

    <!-- ******************************************************************* CARD DATOS DE LA CUENTA ******************************************************************* -->
    <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos de la Cuenta SACI" CollapseTitle="Datos de la Cuenta SACI" ExpandAriaLabel="" CollapseAriaLabel="" class="rz-border-base-500 rz-border-radius-1 rz-shadow-3 mt-3">
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_circle" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos de la Cuenta SACI</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Correo Electronico" AllowFloatingLabel="false" Placeholder="Correo Electronico" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="email" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox style="border-bottom: 3px solid red;" />
                        </ChildContent>
                    </RadzenFormField>
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Contraseña" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="vpn_key" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox style="border-bottom: 3px solid red;" />
                        </ChildContent>
                    </RadzenFormField>
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Confirmar Contraseña" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="lock" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox style="border-bottom: 3px solid red;" />
                        </ChildContent>
                    </RadzenFormField>

                </div>
            </div>
        </ChildContent>
        <SummaryTemplate>
            <ValidationSummary />
        </SummaryTemplate>
    </RadzenFieldset>

    <!-- ******************************************************************* CARD ReCAPTCHA ******************************************************************* -->
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.Wrap" Gap="10px" Class="rz-mt-5">
        <ReCAPTCHA @ref="oReCAPTCHAComponent" SiteKey="6Ld5KwcTAAAAAIQePJpN1xS27jttxdwMo9CimLd5" OnSuccess="OnSuccess" OnExpired="OnExpired" />
        <ValidationSummary class="rz-my-0" />
        <RadzenButton Text="@TextButton"
                      BusyText="@BusyTextButton"
                      ButtonStyle="ButtonStyle.Success"
                      ButtonType="ButtonType.Submit"
                      IsBusy="@busyLoading"
                      Icon="@IconButton"
                      Class="w-100 rz-ripple"
                      Shade="Shade.Default"
                      Disabled="false"
                      Size="ButtonSize.Large"
                      Variant="Variant.Filled" />
    </RadzenStack>
</EditForm>
    

@code {

    @*///////////////////////////////////////////////  OBTENER PARÁMETROS DEL TIPO DE PERSONAL  ///////////////////////////////////////////////*@
    [Parameter] public int IdTipoPersonal { get; set; }
    [Parameter] public string? TipoPersonal { get; set; }

    @*///////////////////////////////////////////////  INICIALIZAR OBJETO DEL USUARIO  ///////////////////////////////////////////////*@
    private RequestDTO_Usuario? oUsuario = new();

    @*///////////////////////////////////////////////  VALIDAR ReCAPTCHA  ////////////////////////////////////////////////////////////////////////*@
    private ReCAPTCHA oReCAPTCHAComponent;
    // private bool ServerVerificatiing = false;
    private bool ValidReCAPTCHA = false;
    private async Task OnSuccess() => ValidReCAPTCHA = true;
    private async Task OnExpired() => ValidReCAPTCHA = false;

    private bool busyLoading = false;
    private string TextButton = string.Empty;
    private string BusyTextButton = string.Empty;
    private string IconButton = string.Empty;

    private async Task OnInvalidHandled_ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
        await JSRuntime.InvokeVoidAsync("eval", $"document.getElementById('names_{TipoPersonal}').select()");
    }

    public async Task OnValidHandled_Registrar()
    {
        
    }
}
