@page "/Administradores"

@attribute [AllowAnonymous]

<style type="text/css"></style>
<EditForm Model="@oUsuario" OnValidSubmit="@OnValidHandled_Editar" OnInvalidSubmit="@OnInvalidHandled_ScrollToTop">

    <DataAnnotationsValidator />

    <!-- ******************************************************************* DATOS PERSONALES ******************************************************************* -->
    <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos Personales" CollapseTitle="Datos Personales" ExpandAriaLabel="" CollapseAriaLabel="" Class="rz-border-base-500 rz-border-radius-1 rz-shadow-3">
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_box" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos Personales</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="row">
                 <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Nombre(s)" AllowFloatingLabel="false" Placeholder="Nombre(s)" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oUsuario.UsuNombre" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="200"
                                           @oninput="@((e) => oUsuario.UsuNombre = e.Value.ToString().ToUpper())"
                                           onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oUsuario.UsuNombre)" />
                 </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Primer Apellido" AllowFloatingLabel="false" Placeholder="Primer Apellido" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oUsuario.UsuPrimerApellido" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="150"
                                           @oninput="@((e) => oUsuario.UsuPrimerApellido = e.Value.ToString().ToUpper())"
                                           onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oUsuario.UsuPrimerApellido)" />
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Segundo Apellido" AllowFloatingLabel="false" AllowClear="true" Variant="Variant.Flat" Class="w-100 mt-3" Disabled="false">
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oUsuario.UsuSegundoApellido" MinLength="0" MaxLength="150" Placeholder="Segundo Apellido"
                                           @oninput="@((e) => oUsuario.UsuSegundoApellido = e.Value.ToString().ToUpper())"
                                           onkeypress="return /^[A-Za-z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                        </ChildContent>
                        <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oUsuario.UsuSegundoApellido)" />
                </div>
            </div>
        </ChildContent>
        <SummaryTemplate>
            <ValidationSummary />
        </SummaryTemplate>
    </RadzenFieldset>

    <!-- ******************************************************************* CARD DATOS DE LA CUENTA ******************************************************************* -->
    <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos de la Cuenta SACI" CollapseTitle="Datos de la Cuenta SACI" ExpandAriaLabel="" CollapseAriaLabel="" class="rz-border-base-500 rz-border-radius-1 rz-shadow-3 mt-3">
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_circle" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos de la Cuenta SACI</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Correo Electronico" AllowFloatingLabel="false" Placeholder="Correo Electronico" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="email" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@oUsuario.UsuCorreoPersonalCuentaNueva" style="border-bottom: 3px solid red;" />
                        </ChildContent>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oUsuario.UsuCorreoPersonalCuentaNueva)" />
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Contraseña" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="vpn_key" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox Name="@($@"contraseña_{TipoPersonal}")" @bind-Value="@UsuContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                           Visible="@(!VisibleContraseña)"
                                           @oninput="(e => UsuContraseña = e.Value.ToString())"
                                           @onkeyup="@CompararContraseñas" />
                            <RadzenPassword Name="@($@"contraseña_visible_{TipoPersonal}")" @bind-Value="@UsuContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                            Visible="@VisibleContraseña"
                                            @oninput="(e => UsuContraseña = e.Value.ToString())"
                                            @onkeyup="@CompararContraseñas" />
                        </ChildContent>
                        <End>
                            <RadzenButton Icon="@(VisibleContraseña ? "visibility" : "visibility_off")"
                                          Click="@ToggleContraseña"
                                          Variant="Variant.Text"
                                          Size="ButtonSize.Small"
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Shade="Shade.Dark" />
                        </End>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <ValidationMessage For="@(() => oUsuario.UsuContraseña)" />
                </div>
                <div class="col-md-4 col-lg-4">
                    <RadzenFormField Text="Confirmar Contraseña" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                        <Start><RadzenIcon Icon="lock" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                        <ChildContent>
                            <RadzenTextBox @bind-Value="@UsuConfirmarContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20"
                                           @oninput="(e => UsuConfirmarContraseña = e.Value.ToString())"
                                           @onkeyup="@CompararContraseñas"
                                           Visible="@(!VisibleConfirmarContraseña)" />
                            <RadzenPassword Name="@($@"confirmar_contraseña_visible_{TipoPersonal}")" @bind-Value="@UsuConfirmarContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                            @oninput="(e => UsuConfirmarContraseña = e.Value.ToString())"
                                            @onkeyup="@CompararContraseñas"
                                            Visible="@VisibleConfirmarContraseña" />
                        </ChildContent>
                        <End>
                            <RadzenButton Icon="@(VisibleConfirmarContraseña ? "visibility" : "visibility_off")"
                                          Click="ToggleConfirmarContraseña"
                                          Variant="Variant.Text"
                                          Size="ButtonSize.Small"
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Shade="Shade.Dark" />
                        </End>
                        <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                    </RadzenFormField>
                    <RadzenAlert Title="Ingresa las contraseñas" Text="Verificar que coincidan." AlertStyle="AlertStyle.Danger" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Darker"
                                 ShowIcon="true" AllowClose="false" class="mb-0" @bind-Visible="flagErrorPasswords" />
                </div>
            </div>
        </ChildContent>
        <SummaryTemplate>
            <ValidationSummary />
        </SummaryTemplate>
    </RadzenFieldset>

    <!-- ******************************************************************* CARD ReCAPTCHA ******************************************************************* -->
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.Wrap" Gap="10px" Class="rz-mt-5">
        <ReCAPTCHA @ref="oReCAPTCHAComponent" SiteKey="6Ld6058pAAAAACiEYq0Khine3FWbHZpfyEraTlOX" OnSuccess="OnSuccess" OnExpired="OnExpired" />
        <ValidationSummary class="rz-my-0" />
        <RadzenButton Text="@TextButton"
                      BusyText="@BusyTextButton"
                      ButtonStyle="ButtonStyle.Success"
                      ButtonType="ButtonType.Submit"
                      IsBusy="@busyLoading"
                      Icon="@IconButton"
                      Class="w-100 rz-ripple"
                      Shade="Shade.Default"
                      Disabled="false"
                      Size="ButtonSize.Large"
                      Variant="Variant.Filled" />
    </RadzenStack>
</EditForm>
    

@code {
    @*///////////////////////////////////////////////  OBTENER PARÁMETROS PARA AGREGAR O ACTUALIZAR DATA  ///////////////////////////////////////////////*@
    [Parameter] public RequestDTO_Usuario? oEditUsuario { get; set; }

    @*///////////////////////////////////////////////  OBTENER PARÁMETROS DEL TIPO DE PERSONAL  ///////////////////////////////////////////////*@
    [Parameter] public int IdTipoPersonal { get; set; }
    [Parameter] public string? TipoPersonal { get; set; }

    @*///////////////////////////////////////////////  INICIALIZAR OBJETO DEL USUARIO  ///////////////////////////////////////////////*@
    private RequestDTO_Usuario? oUsuario = new();

    @*///////////////////////////////////////////////  INICIALIZAR OBJETOS Y OBTENER DATA ASYNC  ///////////////////////////////////////////////*@
    public Response<object>? oRespuesta = new();
    private Response<RequestViewModel_Escuela>? oEscuela = new();

    protected override async Task OnInitializedAsync()
    {
        @* DATOS ID DEL USUARIO *@
        oUsuario.IdUsuario = oEditUsuario.IdUsuario;
        oUsuario.UsuIdRol = oEditUsuario.UsuIdRol;                          // FK ID del Rol (1 - Administrador, 2 - Usuario Solicitante)
        oUsuario.UsuIdTipoPersonal = oEditUsuario.UsuIdTipoPersonal;        // FK ID del Tipo de Personal ([1 - Alumno Inscrito], [2 - Alumno Egresado], [3 - Maestria], [4 - Administrativo], [5 - Docente], [6 - Honorarios])
        @* DATOS PERSONALES *@
        oUsuario.UsuNombre = oEditUsuario.UsuNombre;                        // Nombre del Usuario Solicitante o Administrador
        oUsuario.UsuPrimerApellido = oEditUsuario.UsuPrimerApellido;        // Primer Apellido del Usuario Solicitante o Administrador
        oUsuario.UsuSegundoApellido = oEditUsuario.UsuSegundoApellido;      // Segundo Apellido del Usuario Solicitante o Administrador
        oUsuario.UsuCurp = oEditUsuario.UsuCurp;                            // CURP con 18 caracteres como mínimo
        oUsuario.UsuFileNameCurp = oEditUsuario.UsuFileNameCurp;            // Nombre del Archivo y extensión .pdf del CURP
        
        oUsuario.UsuFileSizeCurp = oEditUsuario.UsuFileSizeCurp;            // Tamaño del Archivo .pdf del CURP
        oUsuario.UsuNoCelularAnterior = oEditUsuario.UsuNoCelularAnterior;  // Número de Celular Anterior si llega a cambiar por uno nuevo
        oUsuario.UsuNoCelularNuevo = oEditUsuario.UsuNoCelularNuevo;        // Número de Celular Nuevo que sería el número de celular actual
        @* DATOS ACADÉMICOS *@
        oUsuario.UsuBoletaAlumno = oEditUsuario.UsuBoletaAlumno;            // Número de Boleta del Usuario (Alumno Inscrito o Egresado)
        oUsuario.UsuBoletaMaestria = oEditUsuario.UsuBoletaMaestria;        // Número de Boleta del Usuario (Alumno de Maestria)
        oUsuario.UsuIdCarrera = oEditUsuario.UsuIdCarrera;                  // FK ID de la Carrera del Alumno
        oUsuario.UsuSemestre = oEditUsuario.UsuSemestre;                    // Semestre que cursa el Alumno Inscrito o de Maestria
        oUsuario.UsuAñoEgreso = oEditUsuario.UsuAñoEgreso;                  // Año de Egreso en dado caso
        oUsuario.UsuFileNameComprobanteInscripcion = oEditUsuario.UsuFileNameComprobanteInscripcion;    // Nombre del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
        oUsuario.UsuFileSizeComprobanteInscripcion = oEditUsuario.UsuFileSizeComprobanteInscripcion;    // Tamaño del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
        @* DATOS LABORALES *@
        oUsuario.UsuNumeroEmpleado = oEditUsuario.UsuNumeroEmpleado;        // Número del Empleado del Usuario (Administrador o Docente)
        oUsuario.UsuIdAreaDepto = oEditUsuario.UsuIdAreaDepto;              // FK ID del Área/Departamento del Usuario Empleado
        oUsuario.UsuNoExtensionAnterior = oEditUsuario.UsuNoExtensionAnterior; // Número de Extensión del Empleado
        oUsuario.UsuNoExtension = oEditUsuario.UsuNoExtension;              // Número de Extensión del Empleado
        @* DATOS DE LAS CREDENCIALES DE LA CUENTA EN LA APP *@
        oUsuario.UsuCorreoPersonalCuentaAnterior = oEditUsuario.UsuCorreoPersonalCuentaAnterior;        // Correo Personal de la Cuenta Anterior
        oUsuario.UsuCorreoPersonalCuentaNueva = oEditUsuario.UsuCorreoPersonalCuentaNueva;              // Correo Personal de la Cuenta Nueva o Actual
        oUsuario.UsuContraseña = oEditUsuario.UsuContraseña;                                            // Contraseña en la PLataforma del Usuario Solicitante o Administrador
        oUsuario.UsuRecuperarContraseña = oEditUsuario.UsuRecuperarContraseña;                          // Contraseña Temporal que se le proporciona al Usuario Solicitante
        @* DATOS DEL CORREO INSTITUCIONAL *@
        oUsuario.UsuCorreoInstitucionalCuenta = oEditUsuario.UsuCorreoInstitucionalCuenta;              // Cuenta Correo Institucional IPN generada por DCyC
        oUsuario.UsuCorreoInstitucionalContraseña = oEditUsuario.UsuCorreoInstitucionalContraseña;      // Contraseña del Correo Institucional IPN Generada por DCyC
        @* OTROS DATOS *@
        oUsuario.UsuFechaHoraAlta = oEditUsuario.UsuFechaHoraAlta;          // Fecha y Hora de Alta del Usuario
        oUsuario.UsuStatus = oEditUsuario.UsuStatus;                        // Usuario (1 - Activo / 0 - Inactivo)
        @* DATOS FK NAVIGATION *@
        oUsuario.UsuIdAreaDeptoNavigation = null;
        oUsuario.UsuIdCarreraNavigation = null;
        oUsuario.UsuIdRolNavigation = null;
        oUsuario.UsuIdTipoPersonalNavigation = null;

        IconButton = "save_as";
        TextButton = "Editar Datos";
        BusyTextButton = "Actualizando Datos ...";
    }

    @*///////////////////////////////////////////////  VALIDAR CAMPOS CONTRASEÑA Y CONFIRMAR CONTRASEÑA  ///////////////////////////////////////////////*@
    // Hacer visible las Contraseñas con el ícono eye
    private bool VisibleContraseña = true;
    private bool VisibleConfirmarContraseña = true;
    private async Task ToggleContraseña() => VisibleContraseña = !VisibleContraseña;
    private async Task ToggleConfirmarContraseña() => VisibleConfirmarContraseña = !VisibleConfirmarContraseña;

    // Comparar las Contraseñas
    private string UsuContraseña = string.Empty;
    private string UsuConfirmarContraseña = string.Empty;
    public bool flagErrorPasswords = false;
    private async Task CompararContraseñas()
    {
        flagErrorPasswords = !string.Equals(UsuContraseña, UsuConfirmarContraseña, StringComparison.Ordinal);
        oUsuario.UsuContraseña = !string.IsNullOrEmpty(UsuContraseña) && !flagErrorPasswords ? CorreosInstitucionales.Shared.CapaTools.Encrypt.GetSHA256(UsuContraseña) : oEditUsuario.UsuContraseña;
    }

    @*///////////////////////////////////////////////  VALIDAR ReCAPTCHA  ////////////////////////////////////////////////////////////////////////*@
    private ReCAPTCHA oReCAPTCHAComponent;
    // private bool ServerVerificatiing = false;
    private bool ValidReCAPTCHA = false;
    private async Task OnSuccess() => ValidReCAPTCHA = true;
    private async Task OnExpired() => ValidReCAPTCHA = false;

    @*///////////////////////////////////////////////  VALIDAR CAMPOS DEL FORMULARIO CON DATA_NOTATIONS  ///////////////////////////////////////////////*@
    private async Task OnInvalidHandled_ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
        await JSRuntime.InvokeVoidAsync("eval", $"document.getElementById('names_{TipoPersonal}').select()");
    }

    @*///////////////////////////////////////////////  MODIFICAR USUARIO  //////////////////////////////////////////////////////////////////////*@
    private bool busyLoading = false;
    private string TextButton = string.Empty;
    private string BusyTextButton = string.Empty;
    private string IconButton = string.Empty;


    public async Task OnValidHandled_Editar()
    {
        try
        {
            if(ValidReCAPTCHA){
                var respuesta = await servicioUsuario.EditDataAsync(oUsuario);
                oRespuesta = respuesta.Content.ReadFromJsonAsync<Response<object>>().Result;
                if (oRespuesta.Success == 1)
                {
                    var responseUsuario = await servicioUsuario.GetDataByIdAsync(oUsuario.IdUsuario);
                    oUsuario = responseUsuario.Data;

                    @*//  NOTIFICATION TOAST ACTUALIZACIÓN DE DATOS EXITOSO  //*@
                    NotificationService.Notify(
                        new NotificationMessage
                            {
                                Severity = NotificationSeverity.Success,
                                Duration = 3000,
                                Summary = "¡Actualización Correcta!",
                                Detail = "Se guardaron los cambios."
                                // SummaryContent = ns => @<RadzenText TextStyle="TextStyle.H6">Custom summary: <br /> @DateTime.Now</RadzenText>,
                                // DetailContent = ns => @<RadzenButton Text="Clear" Click="@(args => ns.Messages.Clear())" />
                            });
                }
            }
        }
        catch (HttpRequestException e)
        {
            await JSRuntime.InvokeAsync<object>("alert", e.Message);
        }
        finally
        {
            busyLoading = false;
            navigationManager.Refresh(true);
        }
    }
}
