@page "/RegistroEmpleados"

@attribute [AllowAnonymous]

<style type="text/css">
</style>

@if (oAreasDeptos is not null && oAreasDeptos.Data != null)
{
    <EditForm Model="@oUsuario" OnValidSubmit="@OnValidHandled_Registrar" OnInvalidSubmit="@OnInvalidHandled_ScrollToTop">

        <DataAnnotationsValidator />

        <!-- ******************************************************************* AVISOS ******************************************************************* -->
        <RadzenAlert Title="" AlertStyle="AlertStyle.Info" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Default" ShowIcon="true" AllowClose="false" class="rz-mt-0 rz-mb-3">
            @if (IdTipoPersonal == 4 || IdTipoPersonal == 5)
            {
                <div><b>NOTA:</b> Se requiere el Número de Empleado para solicitar un Correo Institucional.</div>
            }
            else if (IdTipoPersonal == 6)
            {
                <div><b>NOTA:</b> Se requiere el Número de Contrato para solicitar un Correo Institucional.</div>
            }
        </RadzenAlert>
        
        <RadzenAlert Title="" AlertStyle="AlertStyle.Danger" Variant="Variant.Filled" Size="AlertSize.ExtraSmall" Shade="Shade.Dark" ShowIcon="true" AllowClose="false" class="rz-mb-4 rz-px-3">
            <b>NOTA:</b> Los campos subrayados de rojo son <strong>obligatorios y sin acentos.</strong>
        </RadzenAlert>

        <!-- ******************************************************************* DATOS PERSONALES ******************************************************************* -->
        <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos Personales" CollapseTitle="Datos Personales" ExpandAriaLabel="" CollapseAriaLabel="" class="rz-border-base-500 rz-border-radius-1 rz-shadow-3">
            <HeaderTemplate>
                <span class="d-inline-flex align-items-center align-middle">
                    <RadzenIcon Icon="account_box" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos Personales</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="Nombre(s)" AllowFloatingLabel="false" Variant="Variant.Flat" class="w-100 mt-3">
                            @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start> *@
                            <ChildContent>
                                <RadzenTextBox id="@($@"names_{TipoPersonal}")" @bind-Value="@oUsuario.UsuNombres" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="200" Placeholder="Escribe tu(s) nombre(s)"
                                               @oninput="@((e) => oUsuario.UsuNombres = e.Value.ToString().ToUpper())"
                                               onkeypress="return /^[a-zA-Z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuNombres)" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="Primer Apellido" AllowFloatingLabel="false" Variant="Variant.Flat" class="w-100 mt-3">
                            @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" /></Start> *@
                            <ChildContent>
                                <RadzenTextBox Name="@($@"lastName1_{TipoPersonal}")" @bind-Value="@oUsuario.UsuPrimerApellido" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="150" Placeholder="Primer Apellido"
                                               @oninput="@((e) => oUsuario.UsuPrimerApellido = e.Value.ToString().ToUpper())"
                                               onkeypress="return /^[a-zA-Z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuPrimerApellido)" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="Segundo Apellido" AllowFloatingLabel="false" Variant="Variant.Flat" class="w-100 mt-3">
                            @* <Start><RadzenIcon Icon="person" IconColor="@Colors.Base400" /></Start> *@
                            <ChildContent>
                                <RadzenTextBox Name="@($@"lastName2_{TipoPersonal}")" @bind-Value="@oUsuario.UsuSegundoApellido" MinLength="0" MaxLength="150" Placeholder="Segundo Apellido"
                                               @oninput="@((e) => oUsuario.UsuSegundoApellido = e.Value.ToString().ToUpper())"
                                               onkeypress="return /^[a-zA-Z. ]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuSegundoApellido)" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="@($@"{( ActionAddEdit == "agregar" ? "Número de Celular" : "Número de Celular Actual" )}")" AllowFloatingLabel="false" Variant="Variant.Outlined" class="w-100 mt-3">
                            <Start><RadzenIcon Icon="phone_iphone" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenMask Name="@($@"phoneNumberCurrent_{TipoPersonal}")" @bind-Value="@oUsuario.UsuNoCelularActual" MinLength="0" MaxLength="20" style="border-bottom: 3px solid red;"
                                            Mask="** ** ** ** **" CharacterPattern="[0-9]" Placeholder="00 00 00 00 00" Disabled="@(ActionAddEdit == "actualizar" ? true : false)" ReadOnly="@(ActionAddEdit == "actualizar" ? true : false)" />
                            </ChildContent>
                            <Helper>
                                <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.Div" TextAlign="TextAlign.Justify" class="alert alert-info my-1 p-2"
                                            Text="@($@"{( ActionAddEdit == "actualizar" ? "En caso de cambio de No. de Celular, levanta una Solicitud (Ticket)." : "No. de Celular en uso (10 dígitos)." )}")" />
                            </Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuNoCelularActual)" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="CURP" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="document_scanner" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenTextBox Name="@($@"curp_{TipoPersonal}")" @bind-Value="@oUsuario.UsuCurp" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="18"
                                               @oninput="@((e) => oUsuario.UsuCurp = e.Value.ToString().ToUpper())"
                                               onkeypress="return /^[A-Za-z0-9]+$/.test(String.fromCharCode(event.keyCode || event.which));" />
                            </ChildContent>
                            <Helper>
                                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.P" TextAlign="TextAlign.JustifyAll">
                                    <a href="@oLinkCURP.Data.LinkEnlace" target="_blank" class="icon-link icon-link-hover">
                                        ¿Olvidaste tu <strong>CURP?</strong>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                                        </svg>
                                    </a>
                                </RadzenText>
                            </Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuCurp)" />
                    </div>

                    <div class="col-md-4 col-lg-4 mb-3">
                        <RadzenFormField Text="Archivo del CURP" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="picture_as_pdf" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent> @* image/*, .pdf, .doc, .docx *@
                                <RadzenUpload @ref="oUploadFile_CURP" Url="@($@"/api/RepositoryFiles/UploadSingleFile/{folder}/{idResponse}/{oUsuario.UsuFileNameCurp}/{oGuid}")" Accept=".pdf"
                                              Icon="upload" ChooseText="Examinar Archivo" Auto="false" Multiple="false"
                                              Change=@(args => OnChangeFiles(args, CURP))
                                              Error=@(args => OnErrorFiles(args, "FileInput"))
                                              InputAttributes="@(new Dictionary<string,object>(){{ "cursor", "pointer" }})"
                                              Progress="@(args => OnProgressFiles(args, "Manual Upload"))"
                                              Complete="@(args => OnCompleteFiles(args))" />
                            </ChildContent>
                            <End>
                                <RadzenButton Icon="visibility"
                                              Click="@(() => ShowDialogModal_iFrame(srcCURP, "Archivo PDF del CURP"))"
                                              Variant="Variant.Text"
                                              Size="ButtonSize.Small"
                                              ButtonStyle="ButtonStyle.Secondary"
                                              Shade="Shade.Dark"
                                              Visible="@(ActionAddEdit == "actualizar" ? true : false)" />
                            </End>
                            <Helper>
                                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.Div" TextAlign="TextAlign.Justify">
                                    <a href="@oLinkReducirTamañoArchivo.Data.LinkEnlace" target="_blank" class="icon-link icon-link-hover">
                                        Comprimir y/o reducir el tamaño del <strong>Archivo PDF (Máx. 2MB)</strong>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                                        </svg>
                                    </a>
                                </RadzenText>
                            </Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuFileNameCurp)" />
                        <ValidationMessage For="@(() => oUsuario.UsuFileSizeCurp)" />
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <ValidationSummary />
            </SummaryTemplate>
        </RadzenFieldset>

        <!-- ******************************************************************* CARD DATOS LABORALES ******************************************************************* -->
        <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos Laborales" CollapseTitle="Datos Laborales" ExpandAriaLabel="" CollapseAriaLabel="" class="rz-border-base-500 rz-border-radius-1 rz-shadow-3 mt-3">
            <HeaderTemplate>
                <span class="d-inline-flex align-items-center align-middle">
                    <RadzenIcon Icon="work" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos Laborales</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="@($@"{( IdTipoPersonal == 4 || IdTipoPersonal == 5 ? "Número de Empleado" : "Número de Contrato" )}")" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" class="w-100 mt-3" Disable="false">
                            <Start><RadzenIcon Icon="dialpad" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary"/></Start>
                            <ChildContent>
                                @if (IdTipoPersonal == 4 || IdTipoPersonal == 5)
                                {
                                    <RadzenMask Name="@($@"no_empleado_{TipoPersonal}")" @bind-Value="@oUsuario.UsuNumeroEmpleadoContrato" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="15"
                                                Mask="**********" CharacterPattern="[a-zA-Z0-9]" Placeholder="**********" />
                                }
                                else if (IdTipoPersonal == 6)
                                {
                                    <RadzenMask Name="@($"no_contrato_{TipoPersonal}")" @bind-Value="@oUsuario.UsuNumeroEmpleadoContrato" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="10"
                                                Mask="**********" CharacterPattern="[a-zA-Z0-9]" Placeholder="**********" />
                                }
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuNumeroEmpleadoContrato)"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="Número de Extensión" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="phone" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenDropDown Name="@($@"no_extensión_{TipoPersonal}")"
                                                @bind-Value="@oUsuario.UsuNoExtensionActual"
                                                TValue="string"
                                                ValueProperty="ExtNoExtension"
                                                TextProperty="ExtNoExtension"
                                                Data="@oNoExtensiones.Data"
                                                AllowClear="true"
                                                AllowFiltering="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                FilterOperator="StringFilterOperator.Contains"
                                                AllowVirtualization="true"
                                                Placeholder="Selecciona una opción"
                                                FilterPlaceholder="Buscar..."
                                                Multiple="false"
                                                Chips="true"
                                                InputAttributes="@(new Dictionary<string,object>(){{ "font-family", "Arial" }})"
                                                style="border-bottom: 3px solid red;" />
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuNoExtensionActual)" />
                    </div>

                    <div class="col-md-8 col-lg-8 mb-3">
                        <RadzenFormField Text="Área / Departamento" AllowFloatingLabel="false" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="lan" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenDropDown Name="@($@"área_depto_{TipoPersonal}")"
                                                @bind-Value="@oUsuario.UsuIdAreaDepto"
                                                TValue="int?"
                                                ValueProperty="IdAreaDepto"
                                                TextProperty="AreNombreAreaDepto"
                                                Data="@oAreasDeptos.Data"
                                                AllowClear="true"
                                                AllowFiltering="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                FilterOperator="StringFilterOperator.Contains"
                                                AllowVirtualization="true"
                                                Placeholder="Selecciona una opción"
                                                FilterPlaceholder="Buscar..."
                                                Multiple="false"
                                                Chips="true"
                                                InputAttributes="@(new Dictionary<string,object>(){{ "font-family", "Arial" }})"
                                                style="border-bottom: 3px solid red;" />
                            </ChildContent>
                            <Helper><RadzenText TextStyle="TextStyle.Caption"></RadzenText></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuIdAreaDepto)" />
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <ValidationSummary />
            </SummaryTemplate>
        </RadzenFieldset>

        <!-- ******************************************************************* CARD DATOS DE LA CUENTA ******************************************************************* -->
        <RadzenFieldset AllowCollapse="true" ExpandTitle="Datos de la Cuenta SACI" CollapseTitle="Datos de la Cuenta SACI" ExpandAriaLabel="" CollapseAriaLabel="" Class="rz-border-base-500 rz-border-radius-1 rz-shadow-3 mt-3">
            <HeaderTemplate>
                <span class="d-inline-flex align-items-center align-middle">
                    <RadzenIcon Icon="account_circle" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Datos de la Cuenta SACI</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="@($@"{(ActionAddEdit == "agregar" ? "Correo Electrónico Personal" : "Correo Electrónico Personal Actual")}")" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="email" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenTextBox Name="@($@"email_personal_{TipoPersonal}")" @bind-Value="@oUsuario.UsuCorreoPersonalCuentaActual" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="100"
                                               Disabled="@(ActionAddEdit == "actualizar" ? true : false)" ReadOnly="@(ActionAddEdit == "actualizar" ? true : false)" />
                            </ChildContent>
                            <Helper>
                                <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.Div" TextAlign="TextAlign.Justify" class="alert alert-info my-1 p-2"
                                            Text="@($@"{( ActionAddEdit == "actualizar" ? "En caso de cambio de Correo Electrónico Personal, levanta una Solicitud (Ticket)." : "En caso de no contar con un Correo Personal, le recomendamos crear uno con dominio válido (gmail, outlook, hotmail, yahoo, msn, live, etc.)" )}")" />
                            </Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuCorreoPersonalCuentaActual)" />
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <RadzenFormField Text="Contraseña" AllowFloatingLabel="false" Variant="Variant.Outlined" class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="vpn_key" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                @if (ActionAddEdit == "agregar")
                                {
                                    <RadzenTextBox Name="@($@"contraseña_{TipoPersonal}")" @bind-Value="@oUsuario.UsuContrasenia" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                                   AutoCompleteType="AutoCompleteType.Off" Visible="@(!VisibleContraseña)"
                                                   @oninput="(e => oUsuario.UsuContrasenia = e.Value.ToString())"
                                                   @onkeyup="@CompararContraseñas" />
                                    <RadzenPassword Name="@($@"contraseña_visible_{TipoPersonal}")" @bind-Value="@oUsuario.UsuContrasenia" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                                    AutoCompleteType="AutoCompleteType.NewPassword" Visible="@VisibleContraseña"
                                                    @oninput="(e => oUsuario.UsuContrasenia = e.Value.ToString())"
                                                    @onkeyup="@CompararContraseñas" />
                                }
                                else if (ActionAddEdit == "actualizar")
                                {
                                    <RadzenTextBox Name="@($@"contraseña_{TipoPersonal}")" @bind-Value="@UsuContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                                   AutoCompleteType="AutoCompleteType.Off" Visible="@(!VisibleContraseña)"
                                                   @oninput="(e => UsuContraseña = e.Value.ToString())"
                                                   @onkeyup="@CompararContraseñas" />
                                    <RadzenPassword Name="@($@"contraseña_visible_{TipoPersonal}")" @bind-Value="@UsuContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                                    AutoCompleteType="AutoCompleteType.NewPassword" Visible="@VisibleContraseña"
                                                    @oninput="(e => UsuContraseña = e.Value.ToString())"
                                                    @onkeyup="@CompararContraseñas" />
                                }
                            </ChildContent>
                            <End>
                                <RadzenButton Icon="@(VisibleContraseña ? "visibility" : "visibility_off")"
                                              Click="@ToggleContraseña"
                                              Variant="Variant.Text"
                                              Size="ButtonSize.Small"
                                              ButtonStyle="ButtonStyle.Secondary"
                                              Shade="Shade.Dark" />
                            </End>
                            <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuContrasenia)" />
                    </div>

                    <div class="col-md-4 col-lg-4 mb-3">
                        <RadzenFormField Text="Confirmar Contraseña" AllowFloatingLabel="false" Placeholder="" AllowClear="true" Variant="Variant.Outlined" Class="w-100 mt-3" Disabled="false">
                            <Start><RadzenIcon Icon="lock" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenTextBox Name="@($@"confirmar_contraseña_{TipoPersonal}")" @bind-Value="@UsuConfirmarContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20"
                                               @oninput="(e => UsuConfirmarContraseña = e.Value.ToString())"
                                               @onkeyup="@CompararContraseñas"
                                               AutoCompleteType="AutoCompleteType.Off" Visible="@(!VisibleConfirmarContraseña)" />
                                <RadzenPassword Name="@($@"confirmar_contraseña_visible_{TipoPersonal}")" @bind-Value="@UsuConfirmarContraseña" style="border-bottom: 3px solid red;" MinLength="0" MaxLength="20" aria-label="enter password"
                                                @oninput="(e => UsuConfirmarContraseña = e.Value.ToString())"
                                                @onkeyup="@CompararContraseñas"
                                                AutoCompleteType="AutoCompleteType.NewPassword" Visible="@VisibleConfirmarContraseña" />
                            </ChildContent>
                            <End>
                                <RadzenButton Icon="@(VisibleConfirmarContraseña ? "visibility" : "visibility_off")"
                                              Click="ToggleConfirmarContraseña"
                                              Variant="Variant.Text"
                                              Size="ButtonSize.Small"
                                              ButtonStyle="ButtonStyle.Secondary"
                                              Shade="Shade.Dark" />
                            </End>
                            <Helper><RadzenText TextStyle="TextStyle.Caption" /></Helper>
                        </RadzenFormField>
                        <RadzenAlert Title="Ingresa las contraseñas" Text="Verificar que coincidan." AlertStyle="AlertStyle.Danger" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Darker"
                                     ShowIcon="true" AllowClose="false" class="mb-0" @bind-Visible="flagErrorPasswords" />
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <ValidationSummary />
            </SummaryTemplate>
        </RadzenFieldset>

        <!-- ******************************************************************* CARD DATOS CORREO INSTITUCIONAL ******************************************************************* -->
        <RadzenFieldset AllowCollapse="false" ExpandTitle="Credenciales del Correo E. Institucional" CollapseTitle="Credenciales del Correo E. Institucional" ExpandAriaLabel="" CollapseAriaLabel="" class="rz-border-base-500 rz-border-radius-1 rz-shadow-3 my-3">
            <HeaderTemplate>
                <span class="d-inline-flex align-items-center align-middle">
                    <RadzenIcon Icon="email" IconColor="@Colors.Secondary" />&ensp;<b style="font-variant: small-caps;">Credenciales del Correo E. Institucional</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row" hidden="@existenSolicitudes">
                    <div class="@($@"{( ActionAddEdit == "agregar" ? "col-md-4 col-lg-4 offset-md-4 offset-lg-4" : "col-md-6 col-lg-6" )}")">
                        <RadzenFormField Text="Correo Electrónico Institucional" AllowFloatingLabel="false" AllowClear="true" Variant="Variant.Filled" Style="" class="@($@"{( ActionAddEdit == "agregar" ? "w-100 mt-3" : "rz-shadow-3 w-100 mt-3" )}")" Disabled="false">
                            <Start><RadzenIcon Icon="mail_outline" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                            <ChildContent>
                                <RadzenTextBox Name="@($@"email_institucional_{TipoPersonal}")" @bind-Value="@oUsuario.UsuCorreoInstitucionalCuenta" MinLength="0" MaxLength="100" class="@($@"{(ActionAddEdit == "actualizar" ? "text-center" : "")}")"
                                               Disabled="@(ActionAddEdit == "actualizar" ? true : false)" ReadOnly="@(ActionAddEdit == "actualizar" ? true : false)" Style="font-family:var(--rz-text-font-family); font-weight:bold; font-size:18px;" />
                            </ChildContent>
                            <Helper>
                                <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.P" TextAlign="TextAlign.Justify" Style="font-family:var(--rz-text-font-family);">
                                    @if (ActionAddEdit == "agregar")
                                    {
                                        <div>Campo Opcional (en caso de contar con un Correo Institucional).</div>
                                    }
                                </RadzenText>
                            </Helper>
                        </RadzenFormField>
                        <ValidationMessage For="@(() => oUsuario.UsuCorreoInstitucionalCuenta)" />
                    </div>

                    @if (ActionAddEdit == "actualizar")
                    {
                        <div class="col-md-6 col-lg-6 mb-3">
                            <RadzenFormField Text="Contraseña del Correo Electrónico Institucional" AllowFloatingLabel="false" AllowClear="true" Variant="Variant.Filled" Class="rz-shadow-3 w-100 mt-3" Disabled="false">
                                <Start><RadzenIcon Icon="password" IconColor="@Colors.Base400" IconStyle="IconStyle.Secondary" /></Start>
                                <ChildContent>
                                    <RadzenTextBox Name="@($@"password_email_institucional_{TipoPersonal}")" @bind-Value="@oUsuario.UsuCorreoInstitucionalContrasenia" MinLength="0" MaxLength="100"
                                                   Disabled="true" ReadOnly="true" class="text-center" Style="font-family:var(--rz-text-font-family); font-weight:bold; font-size:18px;" />
                                </ChildContent>
                                <Helper>
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.P" TextAlign="TextAlign.Justify" Style="font-family:var(--rz-text-font-family);" />
                                </Helper>
                            </RadzenFormField>
                            <ValidationMessage For="@(() => oUsuario.UsuCorreoInstitucionalContrasenia)" />
                        </div>
                    }
                </div>

                <div class="row" hidden="@(!existenSolicitudes)">
                    <div class="col-md-12 col-lg-12">
                        <RadzenAlert Title="" Text="" AlertStyle="AlertStyle.Secondary" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Dark" ShowIcon="true" AllowClose="false"
                                     Visible="true" class="my-3">
                            <b>ATENCIÓN:</b> Para visualizar tus <strong>Credenciales del Correo Institucional</strong>, favor de esperar a que se generen / recuperen y después responder la encuesta de calidad.
                            <RadzenButton Text="Ir al Seguimiento de la Solicitud"
                                          BusyText=""
                                          ButtonStyle="ButtonStyle.Warning"
                                          ButtonType="ButtonType.Button"
                                          IsBusy="false"
                                          Icon="arrow_forward"
                                          class="text-white rz-ripple"
                                          Shade="Shade.Darker"
                                          Size="ButtonSize.Small"
                                          Variant="Variant.Filled"
                                          Click="@(() => navigationManager.NavigateTo("/Inicio"))" />
                        </RadzenAlert>
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <ValidationSummary />
            </SummaryTemplate>
        </RadzenFieldset>

        <!-- ******************************************************************* CARD ReCAPTCHA ******************************************************************* -->
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.Wrap" Gap="10px" Class="rz-mt-5">
            <ReCAPTCHA @ref="oReCAPTCHAComponent" SiteKey="6Ld6058pAAAAACiEYq0Khine3FWbHZpfyEraTlOX" OnSuccess="OnSuccess" OnExpired="OnExpired" />
            @if (ActionAddEdit == "agregar")
            {
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="0px" Class="" Style="font-family:var(--rz-text-font-family);">
                    <RadzenCheckBox Name="@($@"aviso_privacidad_{TipoPersonal}")" TValue="bool" @bind-Value="@aceptar_aviso_privacidad" TriState="false" Change="@(args => aceptar_aviso_privacidad = args)" Disabled="false" ReadOnly="false" />
                    <RadzenLabel Text="He leído y acepto los términos y condiciones del" Component="@($@"aviso_privacidad_{TipoPersonal}")" Style="margin-left: 8px; vertical-align: middle;" />&ensp;
                    <a style="cursor:pointer;" @onclick="@(() => ShowDialogModal_iFrame("./documentos/saci_aviso_privacidad_integral.pdf", "Aviso de Privacidad para la Protección de Datos Personales"))" class="icon-link icon-link-hover">
                        <b>Aviso</b> de <strong>Privacidad</strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                        </svg>
                    </a>
                </RadzenStack>
            }
            <ValidationSummary class="rz-my-0" />
            <RadzenButton Text="@TextButton"
                          BusyText="@BusyTextButton"
                          ButtonStyle="ButtonStyle.Success"
                          ButtonType="ButtonType.Submit"
                          IsBusy="@busyLoading"
                          Icon="@IconButton"
                          Class="w-100 rz-ripple"
                          Shade="Shade.Default"
                          Disabled="@DisablePostButton"
                          Size="ButtonSize.Large"
                          Variant="Variant.Filled" />
        </RadzenStack>
    </EditForm>
}
else
{
    <LoadingComponent />
}

@code
{
    @*///////////////////////////////////////////////  OBTENER PARÁMETROS PARA AGREGAR O ACTUALIZAR DATA  ///////////////////////////////////////////////*@
    [Parameter] public string? ActionAddEdit { get; set; }
    [Parameter] public RequestDTO_Usuario? oEditUsuario { get; set; }

    @*///////////////////////////////////////////////  OBTENER PARÁMETROS DEL TIPO DE PERSONAL  ///////////////////////////////////////////////*@
    [Parameter] public int IdTipoPersonal { get; set; }
    [Parameter] public string? TipoPersonal { get; set; }

    @*///////////////////////////////////////////////  INICIALIZAR OBJETO DEL USUARIO  ///////////////////////////////////////////////*@
    private RequestDTO_Usuario? oUsuario = new();

    @*///////////////////////////////////////////////  INICIALIZAR OBJETOS Y OBTENER DATA ASYNC  ///////////////////////////////////////////////*@
    public Response<object>? oRespuesta = new();
    public Response<RequestViewModel_Link>? oLinkCURP = new();
    public Response<RequestViewModel_Link>? oLinkReducirTamañoArchivo = new();
    public Response<List<RequestViewModel_AreaDepto>>? oAreasDeptos = new();
    private Response<RequestViewModel_Escuela>? oEscuela = new();
    public Response<List<RequestViewModel_NoExtension>>? oNoExtensiones = new();
    private string srcCURP = string.Empty;

    [Parameter] public bool existenSolicitudes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        oLinkCURP = await servicioLink.GetDataByNameAsync("CURP");
        oLinkReducirTamañoArchivo = await servicioLink.GetDataByNameAsync("REDUCIR TAMAÑO ARCHIVO");
        oAreasDeptos = await servicioAreaDepto.GetAllDataByStatusAsync(true);
        oEscuela = await servicioEscuela.GetDataByIdAsync(1);
        oNoExtensiones = await servicioNoExtension.GetAllDataByStatusAsync(true);

        if (ActionAddEdit == "agregar")
        {
            @* DATOS ID DEL USUARIO *@
            oUsuario.IdUsuario = 0;
            oUsuario.UsuIdRol = 2;                              // FK ID del Rol (1 - Administrador, 2 - Usuario Solicitante)
            oUsuario.UsuIdTipoPersonal = IdTipoPersonal;        // FK ID del Tipo de Personal ([1 - Alumno Inscrito], [2 - Alumno Egresado], [3 - Posgrado], [4 - Administrativo], [5 - Docente], [6 - Honorarios])
            @* DATOS PERSONALES *@
            oUsuario.UsuNombres = "";                            // Nombre del Usuario Solicitante o Administrador
            oUsuario.UsuPrimerApellido = "";                    // Primer Apellido del Usuario Solicitante o Administrador
            oUsuario.UsuSegundoApellido = "";                   // Segundo Apellido del Usuario Solicitante o Administrador
            oUsuario.UsuCurp = "";                              // CURP con 18 caracteres como mínimo
            oUsuario.UsuFileNameCurp = "";                      // Nombre del Archivo y extensión .pdf del CURP
            oUsuario.UsuFileSizeCurp = 0L;                      // Tamaño del Archivo .pdf del CURP
            oUsuario.UsuNoCelularAnterior = "00 00 00 00 00";   // Número de Celular Anterior si llega a cambiar por uno nuevo
            oUsuario.UsuNoCelularActual = "";                   // Número de Celular Nuevo que sería el número de celular actual
            @* DATOS ACADÉMICOS *@
            oUsuario.UsuBoletaAlumnoEgresado = $@"0000{oEscuela?.Data?.EscNoEscuela}0000";            // Número de Boleta del Usuario (Alumno Inscrito o Egresado)
            oUsuario.UsuBoletaPosgrado = "B000000";             // Número de Boleta del Usuario (Alumno de Posgrado)
            oUsuario.UsuIdCarrera = 2;                          // FK ID de la Carrera del Alumno
            oUsuario.UsuSemestre = "0";                         // Semestre que cursa el Alumno Inscrito o de Posgrado
            oUsuario.UsuAnioEgreso = 1950;                      // Año de Egreso en dado caso
            oUsuario.UsuFileNameComprobanteEstudios = "-";      // Nombre del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
            oUsuario.UsuFileSizeComprobanteEstudios = 1L;       // Tamaño del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
            @* DATOS LABORALES *@
            oUsuario.UsuNumeroEmpleadoContrato = "";                    // Número del Empleado del Usuario (Administrador o Docente)
            // oUsuario.UsuIdAreaDepto = 1;                     // FK ID del Área/Departamento del Usuario Empleado
            oUsuario.UsuNoExtensionAnterior = "0";              // Número de Extensión Anterior del Empleado
            oUsuario.UsuNoExtensionActual = "";                 // Número de Extensión del Empleado
            @* DATOS DE LAS CREDENCIALES DE LA CUENTA EN LA APP *@
            oUsuario.UsuCorreoPersonalCuentaAnterior = null;    // Correo Personal de la Cuenta Anterior
            oUsuario.UsuCorreoPersonalCuentaActual = "";        // Correo Personal de la Cuenta Nueva o Actual
            oUsuario.UsuContrasenia = "";                       // Contraseña en la PLataforma del Usuario Solicitante o Administrador
            oUsuario.UsuRecuperarContrasenia = false;           // Contraseña Temporal que se le proporciona al Usuario Solicitante
            @*  DATOS DEL CORREO INSTITUCIONAL *@
            oUsuario.UsuCorreoInstitucionalCuenta = "";         // Cuenta Correo Institucional IPN generada por DCyC
            oUsuario.UsuCorreoInstitucionalContrasenia = "";    // Contraseña del Correo Institucional IPN Generada por DCyC
            @* OTROS DATOS *@
            // UsuFechaHoraAlta = DateTime.Parse(DateTime.Now.ToString()).Year; // Fecha y Hora de Alta del Usuario
            oUsuario.UsuStatus = true;                          // Usuario (1 - Activo / 0 - Inactivo)
            @* DATOS FK NAVIGATION *@
            oUsuario.UsuIdAreaDeptoNavigation = null;
            oUsuario.UsuIdCarreraNavigation = null;
            oUsuario.UsuIdRolNavigation = null!;
            oUsuario.UsuIdTipoPersonalNavigation = null!;

            IconButton = "send";
            TextButton = "Enviar Registro";
            BusyTextButton = "Enviando Registro ...";
        }
        else if (ActionAddEdit == "actualizar")
        {
            @* DATOS ID DEL USUARIO *@
            oUsuario!.IdUsuario = oEditUsuario!.IdUsuario;
            oUsuario.UsuIdRol = oEditUsuario.UsuIdRol;                              // FK ID del Rol (1 - Administrador, 2 - Usuario Solicitante)
            oUsuario.UsuIdTipoPersonal = oEditUsuario.UsuIdTipoPersonal;            // FK ID del Tipo de Personal ([1 - Alumno Inscrito], [2 - Alumno Egresado], [3 - Posgrado], [4 - Administrativo], [5 - Docente], [6 - Honorarios])
            @* DATOS PERSONALES *@
            oUsuario.UsuNombres = oEditUsuario.UsuNombres;                          // Nombre del Usuario Solicitante o Administrador
            oUsuario.UsuPrimerApellido = oEditUsuario.UsuPrimerApellido;            // Primer Apellido del Usuario Solicitante o Administrador
            oUsuario.UsuSegundoApellido = oEditUsuario.UsuSegundoApellido;          // Segundo Apellido del Usuario Solicitante o Administrador
            oUsuario.UsuCurp = oEditUsuario.UsuCurp;                                // CURP con 18 caracteres como mínimo
            oUsuario.UsuFileNameCurp = oEditUsuario.UsuFileNameCurp;                // Nombre del Archivo y extensión .pdf del CURP
            srcCURP = oUsuario.UsuFileNameCurp != "CURP.pdf" ? $@"/repositorio/{folder}/{oUsuario.IdUsuario}/{oUsuario.IdUsuario}_{oUsuario.UsuFileNameCurp}" : $@"/repositorio/CURP.pdf";
            oUsuario.UsuFileSizeCurp = oEditUsuario.UsuFileSizeCurp;                // Tamaño del Archivo .pdf del CURP
            oUsuario.UsuNoCelularAnterior = oEditUsuario.UsuNoCelularAnterior;      // Número de Celular Anterior si llega a cambiar por uno nuevo
            oUsuario.UsuNoCelularActual = oEditUsuario.UsuNoCelularActual;          // Número de Celular Nuevo que sería el número de celular actual
            @* DATOS ACADÉMICOS *@
            oUsuario.UsuBoletaAlumnoEgresado = oEditUsuario.UsuBoletaAlumnoEgresado;// Número de Boleta del Usuario (Alumno Inscrito o Egresado)
            oUsuario.UsuBoletaPosgrado = oEditUsuario.UsuBoletaPosgrado;            // Número de Boleta del Usuario (Alumno de Posgrado)
            oUsuario.UsuIdCarrera = oEditUsuario.UsuIdCarrera;                      // FK ID de la Carrera del Alumno
            oUsuario.UsuSemestre = oEditUsuario.UsuSemestre;                        // Semestre que cursa el Alumno Inscrito o de Posgrado
            oUsuario.UsuAnioEgreso = oEditUsuario.UsuAnioEgreso;                    // Año de Egreso en dado caso
            oUsuario.UsuFileNameComprobanteEstudios = oEditUsuario.UsuFileNameComprobanteEstudios;    // Nombre del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
            oUsuario.UsuFileSizeComprobanteEstudios = oEditUsuario.UsuFileSizeComprobanteEstudios;    // Tamaño del Archivo en .pdf del Comprobante de Inscripcion (Tira de Materias)
            @* DATOS LABORALES *@
            oUsuario.UsuNumeroEmpleadoContrato = oEditUsuario.UsuNumeroEmpleadoContrato; // Número del Empleado del Usuario (Administrador o Docente)
            oUsuario.UsuIdAreaDepto = oEditUsuario.UsuIdAreaDepto;                  // FK ID del Área/Departamento del Usuario Empleado
            oUsuario.UsuNoExtensionAnterior = oEditUsuario.UsuNoExtensionAnterior;  // Número de Extensión del Empleado
            oUsuario.UsuNoExtensionActual = oEditUsuario.UsuNoExtensionActual;      // Número de Extensión del Empleado
            @* DATOS DE LAS CREDENCIALES DE LA CUENTA EN LA APP *@
            oUsuario.UsuCorreoPersonalCuentaAnterior = oEditUsuario.UsuCorreoPersonalCuentaAnterior;        // Correo Personal de la Cuenta Anterior
            oUsuario.UsuCorreoPersonalCuentaActual = oEditUsuario.UsuCorreoPersonalCuentaActual;            // Correo Personal de la Cuenta Nueva o Actual
            oUsuario.UsuContrasenia = oEditUsuario.UsuContrasenia;                                          // Contraseña en la PLataforma del Usuario Solicitante o Administrador
            oUsuario.UsuRecuperarContrasenia = oEditUsuario.UsuRecuperarContrasenia;                        // Contraseña Temporal que se le proporciona al Usuario Solicitante
            @* DATOS DEL CORREO INSTITUCIONAL *@
            oUsuario.UsuCorreoInstitucionalCuenta = oEditUsuario.UsuCorreoInstitucionalCuenta;              // Cuenta Correo Institucional IPN generada por DCyC
            oUsuario.UsuCorreoInstitucionalContrasenia = oEditUsuario.UsuCorreoInstitucionalContrasenia;    // Contraseña del Correo Institucional IPN Generada por DCyC
            @* OTROS DATOS *@
            oUsuario.UsuFechaHoraAlta = oEditUsuario.UsuFechaHoraAlta;              // Fecha y Hora de Alta del Usuario
            oUsuario.UsuStatus = oEditUsuario.UsuStatus;                            // Usuario (1 - Activo / 0 - Inactivo)
            @* DATOS FK NAVIGATION *@
            oUsuario.UsuIdAreaDeptoNavigation = null;
            oUsuario.UsuIdCarreraNavigation = null;
            oUsuario.UsuIdRolNavigation = null!;
            oUsuario.UsuIdTipoPersonalNavigation = null!;

            IconButton = "save_as";
            TextButton = "Editar Datos";
            BusyTextButton = "Actualizando Datos ...";
        }
    }

    @*///////////////////////////////////////////////  VALIDAR CAMPOS CONTRASEÑA Y CONFIRMAR CONTRASEÑA  ///////////////////////////////////////////////*@
    // Hacer visible las Contraseñas con el ícono eye
    private bool VisibleContraseña = true;
    private bool VisibleConfirmarContraseña = true;
    private async Task ToggleContraseña() => VisibleContraseña = !VisibleContraseña;
    private async Task ToggleConfirmarContraseña() => VisibleConfirmarContraseña = !VisibleConfirmarContraseña;

    // Comparar las Contraseñas
    private string UsuContraseña = string.Empty;
    private string UsuConfirmarContraseña = string.Empty;
    public bool flagErrorPasswords = false;
    private async Task CompararContraseñas()
    {
        if (ActionAddEdit == "agregar")
            flagErrorPasswords = !string.Equals(oUsuario.UsuContrasenia, UsuConfirmarContraseña, StringComparison.Ordinal);
        else if (ActionAddEdit == "actualizar")
        {
            flagErrorPasswords = !string.Equals(UsuContraseña, UsuConfirmarContraseña, StringComparison.Ordinal);
            oUsuario!.UsuContrasenia = !string.IsNullOrEmpty(UsuContraseña) && !flagErrorPasswords ? CorreosInstitucionales.Shared.CapaTools.Encrypt.GetSHA256(UsuContraseña) : oEditUsuario!.UsuContrasenia;
        }
    }

    @*///////////////////////////////////////////////  VALIDAR ReCAPTCHA  ////////////////////////////////////////////////////////////////////////*@
    private ReCAPTCHA oReCAPTCHAComponent;
    // private bool ServerVerificatiing = false;
    private bool ValidReCAPTCHA = false;
    private async Task OnSuccess() => ValidReCAPTCHA = true;
    private async Task OnExpired() => ValidReCAPTCHA = false;

    @*///////////////////////////////////////////////  VALIDAR CAMPOS DEL FORMULARIO CON DATA_NOTATIONS  ///////////////////////////////////////////////*@
    private async Task OnInvalidHandled_ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
        await JSRuntime.InvokeVoidAsync("eval", $"document.getElementById('names_{TipoPersonal}').select()");
    }

    @*///////////////////////////////////////////////  VALIDAR CAMPOS DEL FORMULARIO ARCHIVOS PARA SUBIR  ///////////////////////////////////////////////*@
    // Subida de archivo
    private RadzenUpload oUploadFile_CURP = new();
    private IEnumerable<FileInfo>? oFileInfoCURP { get; set; }

    async Task OnChangeFiles(UploadChangeEventArgs args, string name)
    {
        foreach (var file in args.Files)
        {
            if (name == CURP)
            {
                oUsuario!.UsuFileNameCurp = $"{CURP}_{oGuid}{Path.GetExtension(file.Name).ToLower()}";
                oUsuario.UsuFileSizeCurp = file.Size; // bytes
                oFileInfoCURP = args.Files;
            }
        }
    }

    async Task OnErrorFiles(UploadErrorEventArgs args, string name) => Console.WriteLine($"{args.Message}");

    async Task OnProgressFiles(UploadProgressArgs args, string name)
    {
        // Console.WriteLine($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                // Console.WriteLine($"Uploaded: {file.Name} / {file.Size} bytes");
            }
        }
    }

    async Task OnCompleteFiles(UploadCompleteEventArgs args) => Console.WriteLine($"Server response: {args.RawResponse}");

    @*///////////////////////////////////////////////  AVISO DE PRIVACIDAD PARA LA PROTECCIÓN DE DATOS PERSONALES  ////////////////////////////////////*@
    private bool aceptar_aviso_privacidad = false;

    @*///////////////////////////////////////////////  REGISTRAR USUARIO  //////////////////////////////////////////////////////////////////////*@
    private bool busyLoading = false;
    private bool DisablePostButton => ActionAddEdit == "agregar" ? !ValidReCAPTCHA || flagErrorPasswords || !aceptar_aviso_privacidad : !ValidReCAPTCHA || flagErrorPasswords;
    private string TextButton = string.Empty;
    private string BusyTextButton = string.Empty;
    private string IconButton = string.Empty;
    private string folder = "usuarios";
    private string CURP = "CURP";
    private int idResponse;
    private Guid oGuid = Guid.NewGuid();
    private Response<RequestViewModel_TipoPersonal> oTipoPersonal = new();
    private Response<RequestViewModel_AreaDepto> oAreaDepto = new();

    private RequestDTO_SendWhatsApp oSendWhatsApp = new();

    public async Task OnValidHandled_Registrar()
    {
        try
        {
            busyLoading = true;
            string fecha_actual = DateTime.Now.ToString("dddd',' dd 'de' MMMM 'del' yyyy 'a las' HH:mm:ss 'hrs.'");
            oTipoPersonal = await servicioTipoPersonal.GetDataByIdAsync(oUsuario.UsuIdTipoPersonal);
            oAreaDepto = await servicioAreaDepto.GetDataByIdAsync(oUsuario.UsuIdAreaDepto);
            string fecha_hora_alta = ActionAddEdit == "agregar" ? DateTime.Now.ToString("dddd',' dd 'de' MMMM 'del' yyyy 'a las' HH:mm:ss 'hrs.'") : oUsuario.UsuFechaHoraAlta.ToString("dddd',' dd 'de' MMMM 'del' yyyy 'a las' HH:mm:ss 'hrs.'");
            string password = ActionAddEdit == "agregar" ? oUsuario.UsuContrasenia : UsuContraseña;
            string número = (IdTipoPersonal == 4 || IdTipoPersonal == 5 ? "Número de Empleado" : "Número de Contrato");
            string agregar_actualizar = ActionAddEdit == "agregar" ? "registro" : "actualización de datos";
            string correo_institucional = string.IsNullOrEmpty(oUsuario.UsuCorreoInstitucionalCuenta.Trim()) ? oUsuario.UsuCorreoInstitucionalCuenta?.Trim() : "sin asignar";
            string entrega_credenciales_acceso = !string.IsNullOrEmpty(UsuContraseña) ? "<br>Por este medio se le hace entrega de sus <b>credenciales de acceso:</b><br>" : "";
            string credenciales_acceso = !string.IsNullOrEmpty(UsuContraseña) || ActionAddEdit == "agregar" ?
                                        $@"
                                        <div align='center'>
                                            <article style='background-color: rgb(244,244,244); width:700px; border-radius:10px; padding:5px; text-align:justify;'>
				                                <div align='center'>
						                            <table style='padding:5px; border: 1px solid black; border-collapse:collapse;' >
							                            <thead>
								                            <tr style='background-color: #dddddd;'>
									                            <th scope='col' colspan='2' style='border: 1px solid black;'>Credenciales de Acceso</th>
								                            </tr>
							                            </thead>
							                            <tbody>
								                            <tr style='background-color: #ffffff;'>
									                            <td width='250px' style='border: 1px solid black;'><b>✉️ Usuario:</b></td>
									                            <td width='250px' style='border: 1px solid black;'><b>{oUsuario.UsuCorreoPersonalCuentaActual}</b></td>
								                            </tr>
								                            <tr style='background-color: #dddddd;'>
									                            <td width='250px' style='border: 1px solid black;'><b>🔑 Contraseña:</b></td>
									                            <td width='250px' style='border: 1px solid black;'><b>{password}</b></td>
								                            </tr>
							                            </tbody>
						                            </table>
				                                </div>
			                                </article>
                                        </div>" : "";

            string msgEmail = $@"<body>
	                                <header>
		                                <div align='center'>
			                                <p style='font-weight:bold; text-align:center; color:black;'>SACI | Sistema de Atención para Correos Institucionales</p>
		                                </div>
	                                </header>
	                                <main>
		                                <section>
			                                <article style='background-color: rgb(255, 255, 255); border-radius:10px; padding:5px;'>
				                                <p style='text-align:justify; color:black;'>
                                                    ℹ️ <b>POR FAVOR NO RESPONDER A ESTE CORREO.</b><br><br>
                                                    Estimad@: <br><b>{oUsuario.UsuNombres.Trim()} {oUsuario.UsuPrimerApellido.Trim()} {oUsuario.UsuSegundoApellido?.Trim()}</b><br><br>
				                                    Se le informa que su {agregar_actualizar} fué exitoso en la <b>Plataforma SACI</b>
				                                    de la Unidad Académica <b>{oEscuela?.Data?.EscNombreCorto} ({oEscuela?.Data?.EscNombreLargo})</b>.
                                                    {entrega_credenciales_acceso}
				                                </p>
			                                </article>
                                            {credenciales_acceso}
			                                <div align='center'>
				                                <article style='background-color: rgb(255, 255, 255); width:700px; border-radius:10px; padding:5px; '>
					                                <p style='color:black;'>
						                                Sus datos son los siguientes:<br>
						                                <table style='text-align:justify;'>
							                                <thead>
								                                <tr>
									                                <th scope='col' colspan='2' style='border: 1px solid black;'>Datos del Registro</th>
								                                </tr>
							                                </thead>
							                                <tbody>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Rol</b></td>
									                                <td width='300px' style='border: 1px solid black;'>Usuario</td>
								                                </tr>
								                                <tr>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Tipo de Personal</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oTipoPersonal?.Data?.TipoperNombre}</td>
								                                </tr>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Nombre</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuNombres}</td>
								                                </tr>
								                                <tr>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Primer Apellido</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuPrimerApellido}</td>
								                                </tr>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Segundo Apellido</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuSegundoApellido}</td>
								                                </tr>
								                                <tr>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ CURP</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuCurp}</td>
								                                </tr>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ No. de Celular</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuNoCelularActual}</td>
								                                </tr>
								                                <tr>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ {número}</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuNumeroEmpleadoContrato}</td>
								                                </tr>
                                                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Correo Institucional</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{correo_institucional}</td>
								                                </tr>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Área / Departamento</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oAreaDepto?.Data?.AreNombreAreaDepto}</td>
								                                </tr>
								                                <tr>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ No. de Extensión</b></td>
									                                <td width='300px' style='border: 1px solid black;'>{oUsuario.UsuNoExtensionActual}</td>
								                                </tr>
								                                <tr style='background-color: #dddddd;'>
									                                <td width='200px' style='border: 1px solid black;'><b>✅ Fecha / Hora de Alta</td>
									                                <td width='300px' style='border: 1px solid black;'>{fecha_hora_alta}</td>
								                                </tr>
							                                </tbody>
						                                </table>
					                                </p>
				                                </article>
			                                </div>
			                                <footer>
                                                <p style='color:black;'>
                                                    Que tenga un excelente día.<br>
                                                    NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.
                                                </p>
                                            </footer>
		                                </section>
	                                </main>
	                                <footer>
		                                <div align='center'>
			                                
		                                </div>
	                                </footer>
                                </body>";
            
            string credenciales_acceso_WA = !string.IsNullOrEmpty(UsuContraseña) || ActionAddEdit == "agregar" ?
                                            "Por este medio se le hace entrega de sus _Credenciales de Acceso_:\n\n" +
                                            "   ✉ Usuario:\n               *" + oUsuario.UsuCorreoPersonalCuentaActual.Trim() + "*\n" +
                                            "   🔑 Contraseña:\n               *" + password + "*\n\n" : "";

            oSendWhatsApp.Number = oUsuario.UsuNoCelularActual.Replace(" ", string.Empty);
            oSendWhatsApp.Message = "*SACI | Sistema de Atención para Correos Institucionales*\n" +
                                    "ℹ *POR FAVOR NO RESPONDER A ESTE MENSAJE*\n\n" +
                                    "Se le informa que su " + agregar_actualizar + " fué exitoso en la *Plataforma SACI* " +
                                    "de la Unidad Académica *" + oEscuela?.Data?.EscNombreCorto + " (" + oEscuela?.Data?.EscNombreLargo + ")*.\n\n" +
                                    credenciales_acceso_WA +
                                    "✅ Rol: *Usuario*\n" +
                                    "✅ Tipo de Personal: *" + oTipoPersonal?.Data?.TipoperNombre + "*\n" +
                                    "✅ Nombre: *" + oUsuario.UsuNombres.Trim() + " " + oUsuario.UsuPrimerApellido.Trim() + " " + oUsuario.UsuSegundoApellido?.Trim() + "*\n" +
                                    "✅ CURP: *" + oUsuario.UsuCurp + "*\n" +
                                    "✅ No. de Celular: *" + oUsuario.UsuNoCelularActual + "*\n" +
                                    "✅ No. de Empleado/Contrato: *" + oUsuario.UsuNumeroEmpleadoContrato + "*\n" +
                                    "✅ Correo Institucional: *" + correo_institucional + "*\n" +
                                    "✅ Área/Depto: *" + oAreaDepto?.Data?.AreNombreAreaDepto + "*\n" +
                                    "✅ No. de Extensión: *" + oUsuario.UsuNoExtensionActual + "*\n" +
                                    "✅ Fecha / Hora de Alta: *" + fecha_hora_alta + "*\n\n" +
                                    "Que tenga un excelente día.\n" +
                                    "> *NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.*";

            if (ActionAddEdit == "agregar")
            {
                var verification = await servicioUsuario.ValidateByEmailCURP(oUsuario.UsuCorreoPersonalCuentaActual, oUsuario.UsuCurp);

                if (ValidReCAPTCHA && verification?.Success == 1)
                {
                    var respuesta = await servicioUsuario.AddDataAsync(oUsuario);
                    oRespuesta = respuesta.Content.ReadFromJsonAsync<Response<object>>().Result;

                    if (respuesta.IsSuccessStatusCode && oRespuesta!.Success == 1)
                    {
                        idResponse = int.Parse(oRespuesta!.Message);
                        
                        @*//  UPLOAD FILES  //*@
                        oUsuario.UsuFileNameCurp = $"{CURP}{Path.GetExtension(oUsuario.UsuFileNameCurp).ToLower()}";
                        oUploadFile_CURP.Url = $@"/api/RepositoryFiles/UploadSingleFile/{folder}/{idResponse}/{oUsuario.UsuFileNameCurp}/{oGuid}";
                        await oUploadFile_CURP.Upload();

                        @*//  ENVÍO DE WHATSAPP PARA AVISO DE REGISTRO EXITOSO  //*@
                        await servicioSendWhatsApp.SendWhatsAppAsync(oSendWhatsApp);

                        @*//  ENVÍO DE CORREO ELECTRÓNICO PARA AVISO DE REGISTRO EXITOSO  //*@
                        servicioSendEmail.SendEmailAsync(
                            new RequestDTO_SendEmail()
                            {
                                    EmailTo = oUsuario.UsuCorreoPersonalCuentaActual.Trim(),
                                Subject = "SACI | REGISTRO DE USUARI@",
                                Body = msgEmail
                            });

                        @*//  NOTIFICATION TOAST REGISTRO EXITOSO  //*@
                        NotificationService.Notify(
                            new NotificationMessage
                            {
                                Severity = NotificationSeverity.Success,
                                Duration = 3000,
                                Summary = "¡Registro Exitoso!",
                                Detail = "Se guardaron sus datos y se notificará por las vías de comunicación."
                                // SummaryContent = ns => @<RadzenText TextStyle="TextStyle.H6">Custom summary: <br /> @DateTime.Now</RadzenText>,
                                // DetailContent = ns => @<RadzenButton Text="Clear" Click="@(args => ns.Messages.Clear())" />
                            });

                        @*//  DIALOG MESSAGE REGISTRO EXITOSO  //*@
                        await DialogModalService.OpenAsync($@"<span style='font-variant: small-caps; font-size:18px;'>Mensaje<span>", ds =>
                            @<div>
                                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="5px" Class="">
                                    <span class="circle-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: green; font-weight: bold;">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                        </svg>
                                    </span>
                                    <RadzenText TextStyle="TextStyle.Body1" class="text-success"><b>¡Registro Exitoso del Usuario!</b></RadzenText>
                                </RadzenStack>
                                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="5px" Class="">
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">@(oUsuario.UsuIdRol == 2 ? "Usuario" : "Administrador"):</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oTipoPersonal?.Data?.TipoperNombre</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Nombre Completo:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNombres.Trim() @oUsuario.UsuPrimerApellido.Trim() @oUsuario.UsuSegundoApellido?.Trim()</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">CURP:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuCurp</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">@número</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNumeroEmpleadoContrato</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Área / Departamento:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oAreaDepto?.Data?.AreNombreAreaDepto</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Número de Extensión:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNoExtensionActual</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Correo Electrónico Personal:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuCorreoPersonalCuentaActual.Trim()</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenButton Text="Cerrar"
                                                  BusyText=""
                                                  ButtonStyle="ButtonStyle.Warning"
                                                  ButtonType="ButtonType.Button"
                                                  IsBusy="false"
                                                  Icon="cancel"
                                                  class="rz-color-white rz-ripple rz-my-0 w-100"
                                                  Shade="Shade.Darker"
                                                  Click="@(() => navigationManager.NavigateTo("/"))" />
                                </RadzenStack>
                            </div>,
                            new DialogOptions()
                            {
                                CloseDialogOnOverlayClick = false,
                                CloseDialogOnEsc = false,
                                Width = "Auto",
                                Height = "Auto",
                                Resizable = true,
                                ShowTitle = true,
                                ShowClose = true,
                                Draggable = true,
                                CssClass = "custom-dialog-class",
                                WrapperCssClass = "custom-dialog-wrapper-class"
                            });

                        navigationManager.NavigateTo("/login");
                    }
                    else
                    {
                        await servicioSendEmail.SendEmailAsync(new RequestDTO_SendEmail()
                            {
                                EmailTo = oUsuario.UsuCorreoPersonalCuentaActual.Trim(),
                                Subject = "SACI | ERROR DE REGISTRO",
                                Body = "Estimad@: " + oUsuario.UsuNombres.Trim() + " " + oUsuario.UsuPrimerApellido.Trim() + " " + oUsuario.UsuSegundoApellido.Trim() + "<br><br>" +
                                       "Registro NO exitoso en el <b>Sistema de Atención para Correos Institucionales (SACI)</b><br>" +
                                       "Por favor no responder a este correo, acuda a la unidad de informática de tu escuela<br>"
                            });
                    }
                }
                else
                {
                    await DialogModalService.OpenAsync($@"<span style='font-variant: small-caps; font-size:18px;'>Validación de Datos<span>", ds =>
                        @<RadzenStack AlignItems="AlignItems.Center" Gap="2rem" Class="">
                            <RadzenAlert Title="Error" AlertStyle="AlertStyle.Danger" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Darker" ShowIcon="true" AllowClose="false"
                                         Visible="true" Class="rz-border-radius-1">
                                         El <strong>Correo Electrónico Personal y/o CURP</strong> ya están registrados por lo que <b>NO</b> puede volverse a registrar con estos datos.
                            </RadzenAlert>
                        </RadzenStack>,
                        new DialogOptions()
                        {
                            CloseDialogOnOverlayClick = true,
                            CloseDialogOnEsc = true,
                            Width = "500px",
                            Height = "Auto",
                            Resizable = true,
                            ShowTitle = true,
                            ShowClose = true,
                            Draggable = true,
                            CssClass = "custom-dialog-class",
                            WrapperCssClass = "custom-dialog-wrapper-class"
                        });
                }
            }
            else if (ActionAddEdit == "actualizar")
            {
                // var verification = await servicioUsuario.ValidateByEmailCURP(oUsuario.UsuCorreoPersonalCuentaActual, oUsuario.UsuCurp);

                if (ValidReCAPTCHA)
                {
                    var respuesta = await servicioUsuario.EditDataAsync(oUsuario);
                    oRespuesta = respuesta.Content.ReadFromJsonAsync<Response<object>>().Result;

                    if (respuesta.IsSuccessStatusCode && oRespuesta!.Success == 1)
                    {
                        @*//  UPLOAD FILES  //*@
                        idResponse = oUsuario.IdUsuario;

                        if (!string.IsNullOrEmpty(oUsuario.UsuFileNameCurp))
                        {
                            oUsuario.UsuFileNameCurp = $"{CURP}{Path.GetExtension(oUsuario.UsuFileNameCurp).ToLower()}";
                            oUploadFile_CURP.Url = $@"/api/RepositoryFiles/UploadSingleFile/{folder}/{idResponse}/{oUsuario.UsuFileNameCurp}/{oGuid}";
                            await oUploadFile_CURP.Upload();
                        }

                        @*//  NOTIFICATION TOAST ACTUALIZACIÓN DE DATOS EXITOSO  //*@
                        NotificationService.Notify(
                            new NotificationMessage
                            {
                                Severity = NotificationSeverity.Success,
                                Duration = 3000,
                                Summary = "¡Actualización Correcta!",
                                Detail = "Se guardaron los cambios."
                                // SummaryContent = ns => @<RadzenText TextStyle="TextStyle.H6">Custom summary: <br /> @DateTime.Now</RadzenText>,
                                // DetailContent = ns => @<RadzenButton Text="Clear" Click="@(args => ns.Messages.Clear())" />
                            });

                        @*//  DIALOG MESSAGE ACTUALIZACIÓN DE DATOS EXITOSA  //*@
                        await DialogModalService.OpenAsync($@"<span style='font-variant: small-caps; font-size:18px;'>Mensaje<span>", ds =>
                            @<div>
                                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="5px" Class="">
                                    <span class="circle-border">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="color: green; font-weight: bold;">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                        </svg>
                                    </span>
                                    <RadzenText TextStyle="TextStyle.Body1" class="text-success"><b>Se actualizaron correctamente los datos.</b></RadzenText>
                                </RadzenStack>
                                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="5px" Class="">
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">@(oUsuario.UsuIdRol == 2 ? "Usuario" : "Administrador"):</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oTipoPersonal?.Data?.TipoperNombre</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Nombre Completo:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNombres.Trim() @oUsuario.UsuPrimerApellido.Trim() @oUsuario.UsuSegundoApellido?.Trim()</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">CURP:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuCurp</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">@número</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNumeroEmpleadoContrato</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Área / Departamento:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oAreaDepto?.Data?.AreNombreAreaDepto</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Número de Extensión:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuNoExtensionActual</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenStack Gap="0px">
                                        <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-0 rz-p-0">Correo Electrónico Personal:</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@oUsuario.UsuCorreoPersonalCuentaActual.Trim()</b></RadzenText>
                                    </RadzenStack>
                                    <RadzenAlert Title="Atención:" Text=""
                                                 AlertStyle="AlertStyle.Info" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Light"
                                                 ShowIcon="true" AllowClose="false" class="mb-0" Visible="@(!string.IsNullOrEmpty(UsuContraseña))">
                                                 <ul>
                                                    @if (!string.IsNullOrEmpty(UsuContraseña))
                                                    {
                                                        <li>Se le notificará por los medios / vías de comunicación con la nueva contraseña y actualización de sus datos.</li>
                                                    }
                                                    <li>Se cerrará la sesión, tendrá que acceder con su nueva contraseña.</li>
                                                 </ul>
                                    </RadzenAlert>
                                    <RadzenButton Text="Cerrar"
                                                  BusyText=""
                                                  ButtonStyle="ButtonStyle.Warning"
                                                  ButtonType="ButtonType.Button"
                                                  IsBusy="false"
                                                  Icon="cancel"
                                                  class="rz-color-white rz-ripple rz-my-0 w-100"
                                                  Shade="Shade.Darker"
                                                  Click="@(() => ds.Close(false))" />
                                </RadzenStack>
                            </div>,
                            new DialogOptions()
                            {
                                CloseDialogOnOverlayClick = false,
                                CloseDialogOnEsc = false,
                                Width = "Auto",
                                Height = "Auto",
                                Resizable = true,
                                ShowTitle = true,
                                ShowClose = true,
                                Draggable = true,
                                CssClass = "custom-dialog-class",
                                WrapperCssClass = "custom-dialog-wrapper-class"
                            });

                        if (!string.IsNullOrEmpty(UsuContraseña))
                        {
                            @*//  NOTIFICATION TOAST ACTUALIZACIÓN EXITOSA  //*@
                            NotificationService.Notify(
                                new NotificationMessage
                                    {
                                        Severity = NotificationSeverity.Success,
                                        Duration = 3000,
                                        Summary = "¡Actualización Correcta!",
                                        Detail = "Se guardaron los cambios y se cerrará la sesión."
                                        // SummaryContent = ns => @<RadzenText TextStyle="TextStyle.H6">Custom summary: <br /> @DateTime.Now</RadzenText>,
                                        // DetailContent = ns => @<RadzenButton Text="Clear" Click="@(args => ns.Messages.Clear())" />
                                    });

                            @*//  DIALOG MODAL MESSAGE ACTUALIZACIÓN EXITOSA  //*@
                            DialogModalService.Open($@"<span style='font-variant: small-caps; font-size:18px;'>Enviando notificaciones y cerrando sesión...<span>", ds =>
                                @<div>
                                    <LoadingComponent />
                                </div>,
                                new DialogOptions()
                                {
                                    CloseDialogOnOverlayClick = false,
                                    CloseDialogOnEsc = false,
                                    Width = "Auto",
                                    Height = "Auto",
                                    Resizable = true,
                                    ShowTitle = true,
                                    ShowClose = true,
                                    Draggable = true,
                                    CssClass = "custom-dialog-class",
                                    WrapperCssClass = "custom-dialog-wrapper-class"
                                });

                            @*//  ENVÍO DE WHATSAPP PARA ACTUALIZACIÓN DE DATOS EXITOSO  //*@
                            await servicioSendWhatsApp.SendWhatsAppAsync(oSendWhatsApp);

                            @*//  ENVÍO DE EMAIL PARA ACTUALIZACIÓN DE DATOS EXITOSO  //*@
                            servicioSendEmail.SendEmailAsync(
                                new RequestDTO_SendEmail()
                                {
                                    EmailTo = oUsuario.UsuCorreoPersonalCuentaActual.Trim(),
                                    Subject = "SACI | Actualización de Datos",
                                    Body = msgEmail
                                });

                            await loginService.Logout();
                        }

                        navigationManager.Refresh(true);
                    }
                    else
                    {
                        await servicioSendEmail.SendEmailAsync(new RequestDTO_SendEmail()
                            {
                                EmailTo = oUsuario.UsuCorreoPersonalCuentaActual.Trim(),
                                Subject = "SACI | ERROR EN ACTUALIZACIÓN DE DATOS",
                                Body = "Estimad@: " + oUsuario.UsuNombres.Trim() + " " + oUsuario.UsuPrimerApellido.Trim() + " " + oUsuario.UsuSegundoApellido?.Trim() + "<br><br>" +
                                       "Actualización de datos NO exitosa en el <b>Sistema de Atención de Correos Institucionales IPN (SACI)</b><br>"
                            });
                    }
                }
                else
                {
                    await DialogModalService.OpenAsync($@"<span style='font-variant: small-caps; font-size:18px;'>Validación de Datos<span>", ds =>
                        @<RadzenStack AlignItems="AlignItems.Center" Gap="2rem" Class="">
                            <RadzenAlert Title="Error" AlertStyle="AlertStyle.Danger" Variant="Variant.Filled" Size="AlertSize.Small" Shade="Shade.Darker" ShowIcon="true" AllowClose="true"
                                         Visible="true" Class="rz-border-radius-1">
                                         El <strong>Correo Electrónico Personal y/o CURP</strong> ya están registrados por lo que <b>NO</b> puede volverse a registrar con estos datos.
                            </RadzenAlert>
                        </RadzenStack>,
                        new DialogOptions()
                        {
                            CloseDialogOnOverlayClick = true,
                            CloseDialogOnEsc = true,
                            Width = "500px",
                            Height = "Auto",
                            Resizable = true,
                            ShowTitle = true,
                            ShowClose = true,
                            Draggable = true,
                            CssClass = "custom-dialog-class",
                            WrapperCssClass = "custom-dialog-wrapper-class"
                        });
                }
            }
        }
        catch (HttpRequestException e)
        {
            await JSRuntime.InvokeAsync<object>("alert", e.Message);
        }
        finally
        {
            busyLoading = false;
            // if (ActionAddEdit == "actualizar" && oFileInfoCURP is not null || !string.IsNullOrEmpty(UsuContraseña))
            //     navigationManager.Refresh(true);
        }
    }

    @*///////////////////////////////////////////////  SHOW DIALOG MODAL iFRAME  //////////////////////////////////////////////////////////////////////*@
    private async Task ShowDialogModal_iFrame(string srciFrame, string title)
    {
        await DialogModalService.OpenAsync($@"<span style='font-variant: small-caps; font-size:18px;'>{title}<span>", ds =>
            @<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceEvenly" Gap="5px" class="w-100">
                <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-m-0 rz-p-0 w-100">
                    <iframe src="@srciFrame" frameborder="1" scrolling="yes" class="w-100" style="height:500px;" />
                </RadzenCard>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="5px" class="w-100">
                    <RadzenButton Text="Cerrar"
                                  BusyText=""
                                  ButtonStyle="ButtonStyle.Warning"
                                  ButtonType="ButtonType.Button"
                                  IsBusy="false"
                                  Icon="cancel"
                                  class="rz-color-white rz-ripple rz-my-0 w-100"
                                  Shade="Shade.Darker"
                                  Click="@(() => ds.Close(false))" />
                    <a href="@srciFrame" target="_blank" class="w-100">
                        <RadzenButton Text="Descargar"
                                      BusyText=""
                                      ButtonStyle="ButtonStyle.Secondary"
                                      ButtonType="ButtonType.Button"
                                      IsBusy="false"
                                      Icon="download"
                                      class="rz-ripple rz-my-0 w-100"
                                      Shade="Shade.Dark" />
                    </a>
                </RadzenStack>
            </RadzenStack>,
            new DialogOptions()
            {
                CloseDialogOnOverlayClick = true,
                CloseDialogOnEsc = true,
                Width = "600px",
                Height = "Auto",
                Resizable = true,
                ShowTitle = true,
                ShowClose = true,
                Draggable = true,
                CssClass = "custom-dialog-class",
                WrapperCssClass = "custom-dialog-wrapper-class"
            });
    }
}
